[2017-05-23 21:54] chrishaid opened #1 "get_acs() fails when geometry = TRUE and dplyr 0.6 installed"
@walkerke I'm getting the following error when pulling some census data with `geometry = TRUE`:

It's weird b/c I've got `dplyr 0.6` installed

Here's a reproducible example:

[code]

Here's the sessionInfo:

[code]

[2017-05-23 21:58] chrishaid commented on #1
FYI: `dplyr 0.6` seems to be the culprit.  I rolled  back to `dplyr 0.5` and `get_acs()` ran without a hitch.  The problem is I've moving everything I can to 0.6 as fast as possible:

[2017-05-24 03:30] walkerke commented on #1
Thanks for filing the issue!  I've been looking into this tonight and I believe your issue is that you do not have the latest GitHub version of __sf__, 0.5-0.  Your code runs for me with __dplyr__ 0.6.0 installed.

That said, I am keeping a close eye on changes to dplyr as I'd like to eventually move the package to the new tidyeval framework.  Let me know if upgrading __sf__ solves the problem, an

[2017-05-24 17:19] chrishaid commented on #1
@walkerke That worked. Feel free to close the issue!

[2017-05-24 17:36] walkerke commented on #1
Great.  Thanks for using the package, and let me know if anything else comes up!

[2017-05-24 17:36] #1 closed

[2017-05-24 23:30] LucasPuente opened #2 "`Ticycensus` Package Loading Depends on `units` Package"
Running `devtools::install_github("walkerke/tidycensus")` and then `library(tidycensus)` in a new R session will give you this error:
[code]

You can resolve that by simply running `library(units)` before `library(tidycensus)`. In the future, it might be a good idea for `units` to be imported by `tidycensus`, though.

[2017-05-24 23:52] walkerke commented on #2
Thanks for your note.  What OS are you using?

[2017-05-25 00:35] LucasPuente commented on #2
![screen shot 2017-05-24 at 5 34 32 pm](https://cloud.githubusercontent.com/assets/14006647/26431133/565f61ea-40a7-11e7-92b6-b01e3b1b0c8a.png)

[2017-05-25 01:49] walkerke commented on #2
Thanks - this is helpful.  __tidycensus__ does not use any functions from the __units__ package directly - this should be picked up by __sf__ (and is on my Windows OS).  However I'll investigate further and import __units__ if need be, so I'll keep this issue open.

[2017-05-29 18:01] walkerke opened #3 "Better error handling"
The package should get better at handling errors when making invalid HTTP requests - ideally to tell users what they did wrong.

[2017-05-29 18:03] walkerke opened #4 "Ability to handle lots of variables"
At the moment, given the package design, users are limited to 24 variables from `get_acs` and 49 variables from `get_decennial`.  The package currently throws an error and encourages users to split their call up into multiple calls; however __tidycensus__ should be able to handle this for them.

[2017-05-31 11:54] twolodzko opened #5 "Rename the package to tidyUScensus"
The package should be renamed to something like _tidyuscensus_ since it covers only data about US.

[2017-05-31 21:05] austensen opened #6 "Change api calls from http to https"
You are probably also on the mailing list for this, but just in case, Census is changing their api from http to https.

[HttpsChangeDocument.pdf](https://github.com/walkerke/tidycensus/files/1042932/HttpsChangeDocument.pdf)

[2017-05-31 21:32] ann2014 opened #7 "Received an error - invalid char in json text."
I used R 3.4.0 version, and most recent packages relevant in Windows 64-bit system. When I ran the code below, I received the error message:

Using FIPS code '01' for state 'AL'
No encoding supplied: defaulting to UTF-8.
Error during wrapup: lexical error: invalid char in json text.
                                       <html>     <head>         <titl
                     (right here) ------^

Th

[2017-05-31 23:16] walkerke commented on #7
Your code runs for me with my API key.  I'm guessing you have an invalid API key.  However would you mind re-running and posting the results of `sessionInfo()` afterward?

[2017-05-31 23:17] walkerke commented on #6
Yes, thank you!  I'll get this fixed before its CRAN release.

[2017-06-01 00:36] ann2014 commented on #7
Thanks for your reply. The sessionInfo() is as below:

R version 3.4.0 (2017-04-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C                           LC_TIME=English_Un

[2017-06-02 03:26] walkerke commented on #6
Fixed in https://github.com/walkerke/tidycensus/commit/7d9d8b681c3a696a103e03026d0296274ec345da.

[2017-06-02 03:26] #6 closed

[2017-06-02 03:26] walkerke commented on #5
I appreciate your comment and I understand your point!  However I don't want to eliminate the possibility of including other countries down the road in the package, so I am going to keep the name as-is.

[2017-06-02 03:26] #5 closed

[2017-06-02 03:27] walkerke commented on #3
For example see https://github.com/walkerke/tidycensus/issues/7; users should be able to know exactly what went wrong.

[2017-06-02 14:51] walkerke commented on #7
I think your issue is an invalid API key.  I just pushed an update to the package that should confirm this, however.  Would you mind re-installing the package and try running your code again, then let me know what it says?

[2017-06-02 14:52] walkerke commented on #3
https://github.com/walkerke/tidycensus/commit/979af7614d92960ca71676d3069b697fb0def679 should cover most user errors; re-open this if something else comes up.

[2017-06-02 14:52] #3 closed

[2017-06-02 15:54] ann2014 commented on #7
Kyle,
I recreated the API key, and re-installed the package, it worked!!!
Thanks so much, and have a great weekend :-) Ann Liu-Ferrara, Ph.D
Phone: 201-563-8550

    On Friday, June 2, 2017 10:51 AM, Kyle Walker <notifications@github.com> wrote:

 I think your issue is an invalid API key. I just pushed an update to the package that should confirm this, however. Would you mind re-installing the pac

[2017-06-02 16:57] ann2014 commented on #7
Kyle,
I received a warning, am not sure if you are interested to know:
v15 <- load_variables(2015, "acs5", cache = TRUE)
Warning message:'html' is deprecated.Use 'read_html' instead.See help("Deprecated") 
It took a while to run, and I have not received any results yet.
Thanks, Ann Liu-Ferrara, Ph.D
Phone: 201-563-8550

    On Friday, June 2, 2017 10:51 AM, Kyle Walker <notifications@github.com> w

[2017-06-02 17:07] knaaptime opened #8 "support for ACS data profiles"
currently tidycensus only supports access to summary files from the ACS. It would be great to also include variables from the [data profile](http://api.census.gov/data/2015/acs5/profile/variables.html)

[2017-06-02 18:24] walkerke commented on #8
agreed, and I don't think it would take too much work to do this.  I'll take a look at it.

[2017-06-02 18:35] walkerke commented on #7
Thanks for your comment.  Yes `load_variables` can be very slow the first time for the 5-year ACS.  I'm looking into ways to speed it up.

[2017-06-07 02:38] walkerke commented on #8
I've added support for the data profile in https://github.com/walkerke/tidycensus/commit/2c54a627e24be349f4a667d90a3b425ea9f9a858.

[2017-06-07 02:38] #8 closed

[2017-06-07 02:40] walkerke commented on #4
Calls can now exceed the variable limits thanks to https://github.com/walkerke/tidycensus/commit/0003b4fa698dd70aeb9ff0b6275e06128207a9fc.

[2017-06-07 02:40] #4 closed

[2017-06-07 02:40] walkerke commented on #2
Do you get the same error when you run `library(sf)` independent of tidycensus?

[2017-06-07 11:14] walkerke commented on #7
I've sped up `load_variables` significantly for ACS data in https://github.com/walkerke/tidycensus/commit/a99f270dc203eb83c4eeeae70a3f5f2e94584809, as the function now uses JSON parsing instead of HTML scraping.  It still uses HTML scraping for decennial Census data as JSON is not available, but the wait time isn't too bad.

[2017-06-07 11:14] #7 closed

[2017-06-07 18:59] LucasPuente commented on #2
No

[2017-06-08 18:59] walkerke commented on #2
Would you mind re-installing __tidycensus__ and testing again for me?  I've added __units__ to `Imports` in the latest version, so I'd like to see if that solves the issue.  Thanks!

[2017-06-14 17:16] davechilders opened #9 "Class of get_acs depends on value of geometry object"
`get_acs()` appears to return a tibble iff `geometry = TRUE`:

[code]

Should the second call above also return a tibble?

[2017-06-15 18:55] walkerke commented on #9
Thanks for your note - I'll take a look at this.

[2017-06-16 10:45] walkerke commented on #9
This is updated in https://github.com/walkerke/tidycensus/commit/bb810788ae5b8fa7791d7c37ac85ac7ead6c32a3.  Thanks for using the package!

[2017-06-16 10:45] #9 closed

[2017-06-20 04:58] walkerke commented on #2
I haven't heard anything further about this, so I am closing this issue.  If you or anyone else reading this is still experiencing problems, please re-open the issue and I'll debug further.

[2017-06-20 04:58] #2 closed

[2017-06-24 18:13] PredictiveAnalytics opened #10 "tidycensus doesn't install on R 3.2"
tidycensus doesn't install on R 3.2. is that intentional? what would be the latest version it will agree with?

[2017-06-24 18:27] walkerke commented on #10
Yes, that's correct - tidycensus requires R 3.3 or higher.

[2017-06-24 18:27] #10 closed

[2017-06-26 01:11] jakeander opened #11 "Zip code data?"
This must be easy but I can't seem to extract zip code data. Is the geography part of get_acs() need to be a specific zip code qualifier?

[2017-06-26 10:34] walkerke commented on #11
You can get zip code data by setting `geography = "zip code tabulation area` or `geography = "zcta"`.  For example:

[code]

Right now, you have to get ZCTAs for the whole country and then subset yourself within R, though I may add a `starts_with` parameter in the future, like the one that is in __tigris__.

[2017-06-26 10:34] #11 closed

[2017-06-26 23:02] jakeander commented on #11
Just wanted to say thanks for the assistance. Works perfect. Excellent package!

[2017-06-27 03:41] walkerke commented on #11
No problem - thanks for using the package!  Let me know if anything else comes up.

[2017-06-28 15:20] MattDaviz opened #13 "Block as invalid geography or geography hierarchy"
Following your example from your personal website [here](https://walkerke.github.io/2017/06/comparing-metros/), I'm attempting to look at rent rates, but at a block level rather than a census tract level. I used your exact code, but attempted to change 'tract' to 'block', 'block group', or 'blockgroup' to no avail. This might be a simple fix, I just haven't found any examples of how to use block d

[2017-06-28 17:06] tiernanmartin commented on #13
👍 I'd also like to see block groups and blocks added to the list of accessible census geographies.

@MattDaviz FYI - rent data is available at the block group level, but not at the block level. Tenure type is available at the block level, but only for the decennial census (2000, 2010) - check out these summary tables to see if any of the subjects meet your needs:

- [Household Population and House

[2017-06-28 19:39] walkerke commented on #13
Thanks @tiernanmartin, that is correct.

Block groups and blocks are available in __tidycensus__ - they are just available by county or counties within a given state.  So, for total population for Teton County, Wyoming at the block group and block levels:

[code]

[2017-06-28 19:43] #13 closed

[2017-06-28 19:48] tiernanmartin commented on #13
Thanks for clarifying, @walkerke .

Might be helpful to add these as examples in the `get_acs` documentation if you haven't already.

[2017-06-29 10:37] walkerke commented on #13
Good idea - I'll add to the docs.

[2017-07-06 15:55] walkerke opened #15 "Support the ACS Subject Tables"
Add support for the ACS Subject Tables.

[2017-07-07 18:28] pssguy opened #16 "Error in get_decennial() when geography is tract"
and maybe other levels:  'county' does work

[code]

[2017-07-07 20:20] walkerke commented on #16
Tract data is only available by state, so you'll need to supply a vector of states to the `states` parameter.  The following code works:

[code]

[2017-07-07 20:20] #16 closed

[2017-07-07 21:11] pssguy commented on #16
Thanks that works inc a vector of all states . I was trying to work it out from your code

So if i wanted block groups I would need to enter both state and county? I tried just the states or just the county GEOIDs and get the same generic error as before

and does 1990 differ from 2000 2010
viz.
"At the moment, tracts and block groups for 1990 require specifying a county"

[2017-07-08 11:40] walkerke commented on #16
Correct, block groups are only available from the API by county.  I have some logic under the hood in tidycensus to allow for multi-county calls for block groups by state; however multi-state calls would require iterating through every county in each state which I don't have built in.  You could conceivably do this with __purrr__ though you might also consider NHGIS (http://www.nhgis.org) if you w

[2017-07-17 18:58] mfherman opened #18 "Option to choose 1-year or 5-year ACS estimates"
I just started exploring tidycensus today and I love it so far. One quick question: is there a way to specify using 1-year or 5-year estimates? It looks like it's defaulting to pulling 5-year estimates which is great for small geographies, but sometimes I'd rather use 1-year estimates for larger/more populated areas. I know the acs package allows this choice.

As much more of an R user than progra

[2017-07-19 15:28] mwillumz opened #20 "relax sf dependency"
I wonder if you'd consider relaxing the sf dependency or splitting the mapping and api components of tidycensus into separate packages in the future. The reason I ask is that I'm using rstudio in scientific linux and current gdal libraries are not available (thus no sf).

Ideally we'd work on a different distro here but it also occurred to me that the api functionality could be separated from the

[2017-07-21 13:00] walkerke commented on #20
Thanks for using the package!  I don't have plans to do this at the moment.  The geo part of tidycensus is in another package - it uses the **tigris** package under the hood - and non-spatial Census packages are available on CRAN (__acs__ and __censusapi__).  You might consider taking a look at those packages.

[2017-07-21 13:00] #20 closed

[2017-07-27 04:15] abuabara opened #21 "error loading acs5 variables"
Since today when I am trying to load the ACS table of variables I'm getting an error, and the table is not being loaded. The decennial table is just fine, as well the actual acs5 data sets I use.

I tried few tricks, without success. Just wondering if it is happening due a kind of packages update I may have done, or even because I'm using R on MacOS.

I appreciate your help. Thank you in advance!!

[2017-07-27 14:32] walkerke commented on #21
I can reproduce the error.  Let me look into this and I'll get back to you.

[2017-07-28 21:58] mattwilliamson13 opened #22 "lexical error: invalid char in json text."
Running the following:
`med_inc_2000 <- get_decennial(geography = "county", variables = "PCT045001", year = 2000, sumfile="sf3", state = "Maryland", output = 'wide')`

results in:
Using FIPS code '24' for state 'Maryland'
Error : lexical error: invalid char in json text.
          1"], ["31653","Prince George"s County","24","033"], ["38112"
                     (right here) ------^

Looking at the

[2017-07-29 04:46] walkerke commented on #22
Looks like this is happening at the level of the Census API.  For example, the raw call you are making is as follows:

https://api.census.gov/data/2000/sf3?get=PCT045001,NAME&for=county:*

Apostrophes in this call are using double quotes.  __tidycensus__ gets the NAME column by default to give users more information about their data.  I think this is fixable on __tidycensus__'s end but I'll also s

[2017-07-29 05:05] walkerke commented on #21
This recent update is breaking the function:

https://www.census.gov/data/developers/updates/valid-values-now-presented-for-categorical-variables.html

I now know what the cause of the error is, and I'm working on a fix.

[2017-07-29 14:06] mattwilliamson13 commented on #22
Thanks, I actually really appreciate the use of the NAME column for the reason you describe - I just couldn’t figure out how to get around it. Really appreciate any help you can offer.
Best,
M
Matt Williamson
Ph.D. Candidate
Graduate Group in Ecology
University of California, Davis

[2017-07-29 21:12] mattwilliamson13 commented on #22
Also, the error doesn’t seem to occur for total population or many other demographics (just on the median income).

Matt Williamson
Ph.D. Candidate
Graduate Group in Ecology
University of California, Davis

[2017-07-30 13:23] walkerke commented on #22
Sounds like it's a bug in the 2000 SF3 API, but not the SF1 API.

[2017-07-30 13:38] mattwilliamson13 commented on #22
Correct. And it's only on the sf3 call, I think

Sent from my iPhone

Sent from my iPhone

[2017-08-01 01:15] amgsharma opened #23 "Error in bind_rows_(x, .id) : Argument 6 must be length 1, not 0"
Command:
v15 <- load_variables(2015, "acs5", cache = FALSE)

as per the instructions on :
https://walkerke.github.io/tidycensus/articles/basic-usage.html#searching-for-variables

Output:
Error in bind_rows_(x, .id) : Argument 6 must be length 1, not 0

Thoughts?

[2017-08-01 17:16] walkerke commented on #23
Yes - see https://github.com/walkerke/tidycensus/issues/21.  I'm working on a fix for this.

[2017-08-01 17:16] #23 closed

[2017-08-02 20:40] walkerke commented on #21
This is fixed in https://github.com/walkerke/tidycensus/commit/c1c5ec57d67ddfad7514cba9d03ac2a429c07735.  I have a little more cleaning up to do and then I'll get the updates to CRAN.

[2017-08-02 20:40] #21 closed

[2017-08-02 20:58] walkerke commented on #22
I've fixed this in https://github.com/walkerke/tidycensus/commit/b33732dcba0bc6802ef96425495a2b11ed830739.

[2017-08-02 20:58] #22 closed

[2017-08-05 17:35] ZellW opened #24 "load_variables error"
It seems like my error is unque since I can find no references or it occurring with others.  (That's a bad sign for me.)

Using your example:  v15 <- load_variables(2015, "acs5", cache = FALSE)

gives this error:  **Error in bind_rows_(x, .id) : incompatible sizes (1 != 0)**

Any ideas?

[2017-08-05 18:05] walkerke commented on #24
Can you re-install the package from GitHub and then try again?  If the error persists, could you show me the results of your `sessionInfo()`?

[2017-08-05 19:23] ZellW commented on #24
install from GitHub solved my issues.  Sorry to bother you with this - I should have done this first.  FYI, this message was displayed as the function was running:

at_depth() is deprecated, please use `modify_depth()` instead

[2017-08-05 20:31] walkerke commented on #24
Thanks for the note - looks like I wasn't running the latest version of __purrr__.  I've updated this in https://github.com/walkerke/tidycensus/commit/9256eef5afaf3ff6e007dc17cea1832281510575.

[2017-08-05 20:31] #24 closed

[2017-08-08 19:01] jasparkatt commented on #24
Just an FYI...i successfully updated my tidycensus package via gh_install_packages("tidycensus" ref=9256eef) resulting in no errors as in issue #21 or the warning noted by @ZellW . I did however receive that deprecation warning when i first did gh_install_packages("tidycensus" ref="c1c5ec5")

[2017-08-09 10:43] walkerke commented on #18
This functionality is now supported as of https://github.com/walkerke/tidycensus/pull/25.  Updates off to CRAN soon!

[2017-08-09 10:43] #18 closed

[2017-09-11 21:31] kastanis opened #26 "Error in 2000 get_decennial() when geography is tract"
`st <- c(datasets::state.abb, "DC")`
`population_2000 <- get_decennial(geography = "tract", endyear = 2000, variables = "P001001", state = st)`

Results in:

`Using FIPS code '01' for state 'AL'
Error : lexical error: invalid char in json text.
                                       <html><head><title>Apache Tomca
                     (right here) ------^

Error in gather.default(., key = variable

[2017-09-14 14:59] walkerke commented on #26
I'll take a look at this!

[2017-09-14 18:28] ericpgreen opened #27 "package or namespace load failed for ‘tidycensus’"
I'm getting the following error when I try to load `tidycensus`.

[code]

Here is my session info:

[code]

[2017-09-15 11:27] walkerke commented on #27
Can you try updating purrr to the most recent CRAN version (0.2.3) and see if that fixes it?

[2017-09-15 12:07] ericpgreen commented on #27
OK, thanks. That worked.

On Fri, Sep 15, 2017 at 7:27 AM, Kyle Walker <notifications@github.com>
wrote:

[2017-09-15 18:07] #27 closed

[2017-09-18 13:19] keberwein commented on #26
@kastanis it works if you use `year=2000` instead of `endyear==2000`. The `get_acs()` function uses the `endyear` argument, while the get_decennial() function uses the `year` argument.

[code]

@walkerke I didn't make any changes but might want to think about changing one of these two function arguments, so they are the same. Otherwise, I'm sure this issue will come up again.

[2017-09-18 14:44] walkerke commented on #26
Thanks @keberwein for answering this.  I'll look to update so that both `get_acs()` and `get_decennial()` accept either `year` or `endyear` as equivalent to avoid confusion.

[2017-09-18 14:44] #26 closed

[2017-09-26 00:58] elmerleeZ opened #28 "Download one-year estimates"
Hi Kyle, I am wondering if tidycensus could be used to download one-year estimates from Census. That would be really helpful. Thank you! - Elmer

[2017-09-26 11:05] walkerke commented on #28
Thanks to @keberwein __tidycensus__ can already do this.  For example, for median household income by place from the 2016 1-year ACS, use the `survey` parameter:

[code]

[2017-09-26 13:37] optimific commented on #28
Are 1-year estimates from 2011-2014 supported? The ACS 1-year endpoint changed from "acs1" to "acs/acs1" in 2015.

[2017-09-26 14:41] walkerke commented on #28
not at the moment; but it'll be a quick fix.

[2017-09-26 14:46] walkerke commented on #28
Fixed now in https://github.com/walkerke/tidycensus/commit/14d0356d07408e7c1b89303b436c42cdf43ae5bd.

[2017-09-26 14:46] #28 closed

[2017-09-29 14:35] hadley opened #29 "Missing margin of error"
[code]

Looks like missing values are encoded as `-555555555` - it'd be nice if this was converted to NA automatically.

[2017-09-29 18:26] walkerke commented on #29
Yes, that's a good idea.  I'll make that update.

[2017-10-03 15:18] walkerke commented on #29
This is incorporated as of https://github.com/walkerke/tidycensus/commit/ba4ac5e53bb55a41ee9ac5834de23ef65d5adca5.

[2017-10-03 15:18] #29 closed

[2017-10-05 21:06] leehach opened #30 "Feature Request: Download by Table"
I would like to request specifying a table (e.g. `"B25036"`) and getting all the variables associated with that table, instead of having to specify each variable.

At the moment I'm building them with something like:

[code]

[2017-10-05 22:23] walkerke commented on #30
I’ve been mulling this over for a little while.  I’ll put this on the agenda before the package’s next CRAN release.

[2017-10-09 02:44] elmerleeZ commented on #28
Hi Professor Walker, I've tried your code to download one year acs data, and it worked perfectly for year 2012-2016. But for year 2011, e.g. with the code:
`income <- get_acs(geography = "place", variables = "B19013_001", survey = "acs1", endyear = 2011)`
R returns the error: `Error: Column dataset must be a 1d atomic vector or a list`

And for year 2010, e.g. with the code`income <- get_acs(geogr

[2017-10-09 10:23] walkerke commented on #28
2011 data is only available for congressional districts and tidycensus is not configured to work with its unique format: https://www.census.gov/data/developers/data-sets/acs-1year.2011.html.  If this is something you need, the censusapi package can do it if you configure the call correctly.

[2017-10-09 19:56] walkerke commented on #30
FYI - I'm working on this now in https://github.com/walkerke/tidycensus/tree/tables.  You can keep an eye on that for updates.

[2017-10-10 19:17] walkerke commented on #30
This is now implemented in the development version for ACS detailed tables.  I'll add this functionality for the decennial Census as well then send to CRAN.

[2017-10-16 16:54] walkerke commented on #30
Request by table name now works for decennial Census tables as well.  I have a little more cleaning up to do then the updates are off to CRAN.

[2017-10-16 16:54] #30 closed

[2017-10-27 22:19] ldaly opened #34 "Adjusting margin of error calculations for multiple zero estimates"
Hi, I have a question about the MOE functions--have you considered adjusting the derived MOE function for aggregated estimates that include multiple zero estimates?

Some Census documentation recommends using only one MOE from a 0 estimate when there are multiple 0 estimates in order to avoid unnaturally inflating the SE (see Census document [here](https://www2.census.gov/programs-surveys/acs/tech

[2017-10-28 12:48] walkerke commented on #34
Thanks for the suggestion!  Yes, I can add this.

[2017-11-02 15:54] moonican opened #35 "Cannot coerce type 'closure' to vector of type 'character'"
Thanks for creating this awesome package. I am using it for the first time and just copy/pasting some code to see how it works and I get an error. Can you help me troubleshoot?

Here is what I pasted in RStudio:

`library(tidycensus)
library(tidyverse)
options(tigris_use_cache = TRUE)

orange <- get_acs(state = "CA", county = "Orange", geography = "tract",
                  variables = "B19013_001

[2017-11-02 17:21] moonican commented on #35
Ok, update: I had an old version of R that did not support something and triggered the error. I have since updated to 3.4.2 and ran your code with success! Thanks.

[2017-11-02 18:18] walkerke commented on #35
Glad to hear you've got it working!

[2017-11-05 16:09] leehach opened #36 "Avoid downloading blocks shapefile multiple times in same function call."
When using `get_decennial` to download block geometries and requesting multiple counties, tidycensus is (a) downloading the much larger state-level blocks shapefile rather than using the county-level shapefiles, and (b) downloading it once for each county.

For example, to grab all blocks for New York City:

[code]

This will download the New York state blocks shapefile tl_2010_36_tabblock10.zip w

[2017-11-05 19:29] walkerke commented on #36
Thanks for your suggestion, this is definitely do-able.  It'll require some updates to __tigris__ as it pulls in block shapefiles by state then subsets by county (as more recent TIGER/Line datasets don't make block shapefiles available by county, but 2010 does).

In the meantime I'd recommend using __tigris__ caching with `options(tigris_use_cache = TRUE)`; it'll download the New York shapefile on

[2017-11-05 19:40] leehach commented on #36
I don't think I even realized the more recent TIGER/Line datasets offer blocks by state (no less county), since ACS doesn't release any block-level data.

In any event, I did figure out to use caching to at least avoid multiple downloads of the large file.

[2017-11-06 12:39] dkyleward opened #37 "A function to return smallest available geography"
Variables like households by size are available at the block level, while other variables are only available at block group or even tract. It would be incredibly helpful to pass a vector of variable codes into a function that returned a vector of the smallest geography available for each. Because there are so many geographies, it may not be practical (or even possible) to rank them all smallest-to

[2017-11-06 14:37] dkyleward commented on #37
Actually, this could potentially be an avenue to restructure the basic logic of the package. I was having a hard time getting "block group" info. A little googling, and I realized that I had to specify the county variable in order to get block groups.

I started looking at your code for `get_decennial`. I noticed that you are handling nesting cases in a one-off approach. For example:

[code]

and:

[2017-11-07 19:47] dkyleward opened #38 "Conver to custom variable names"
One of the great things that the censusr package does (https://github.com/transportfoundry/censusr) is to allow you to customize the names returned by the API. B19013_001 becomes "hh_size_1" (or whatever it is). In addition to having the `variables` argument, you also have a `names` argument that accepts a vector (same length as `variables`) of custom names.

[2017-11-07 19:55] dkyleward opened #39 "Make the variables argument optional"
Since this package wraps tigris so nicely, I'd like to be able to use it to download a shapefile without having to include `variables`. The `variables` and `table` arguments should still be required if `geometry = FALSE`.

[2017-11-07 20:42] walkerke commented on #39
What advantage would this have over simply using tigris?

[2017-11-07 20:53] walkerke commented on #38
I'll keep this in mind for the next release.  One of my design philosophies with tidycensus is to return data in the right format for manipulation within the tidyverse, but let the tidyverse packages do what they do best.  As such:

[code]

or:

[code]

isn't that much more code, and gives users explicit control over what they are doing.

[2017-11-07 22:32] aeonstone commented on #35
I am actually running into a similar error. I made sure to update my version of R and Rstudio before posting because that seemed to fix the issue for the prior person. My error is a Client Error (400)

Here is what I am running

[code]

And here is what I get back

[code]

[2017-11-07 23:28] aeonstone opened #40 "cannot coerce type 'closure' to vector of type 'character' ... Round 2"
I saw a similar issue as a closed issue. I commented as a follow up to the closed issue but I thought it might be helpful to post this as a new issue as well. My apologies if that's too much.

I am experiencing an issue when submitting a census call. I'm getting the following error: **Client error Bad Request Client error: (400) Bad Request**. I've posted my code below.

Here is what I am running

[2017-11-08 03:18] walkerke commented on #40
Right now, it's a feature.  My design philosophy with tidycensus is not to expose every possible query available from the Census/ACS APIs, but rather "do enough" to get Census data ready for use in R with tidyverse functions.  As such, the `county` parameter works for geographies that _nest within_ counties - specifically tracts, block groups, and blocks - but not counties themselves, which are av

[2017-11-08 03:18] #40 closed

[2017-11-08 14:22] aeonstone commented on #40
Thank you for the reply. I can understand the design choice. And thank you for the tip on how to get at what I'm after. I just found your work and I'm really excited to dive in and learn more about how to use it. Thanks for the great work!

[2017-11-08 17:58] walkerke commented on #40
Awesome - thanks for using the package!

[2017-11-09 19:12] dkyleward commented on #38
That's fair. In my use case, I'm pulling ~30 variables. I actually attempted to `left_join()` a conversion table, but I kept getting a `select less than one feature in get1index` error. The workaround that finally solved the problem was to convert the sf object to a data frame, do the join, and then `st_as_sf()` to get it back.

That's unlikely to be a problem with tidyverse, but it would be nice

[2017-11-09 19:12] dkyleward commented on #39
To allow people to simply have (and get familiar with) one package.

[2017-11-09 19:25] dkyleward commented on #39
It's certainly not a critical update - just a nice to have. The user can always just toss in one variable string.

[2017-11-10 18:52] walkerke commented on #38
Definitely.  I'll keep this on the radar for version 0.4 which will default to the new 2012-2016 ACS estimates (when they come out).

[2017-11-10 19:00] walkerke commented on #37
You bring up some interesting points that I'll keep in mind.  I do like having users be deliberate about the geography they choose - especially given the trade-offs (block groups are more refined, but often have very large MOEs).  However I would like to allow for users to get block group data by state.  Block group data are only available from the API by county, so the logic within the package at

[2017-11-21 21:40] mfherman opened #42 "Suggested approach for aggregating variables"
Not an issue per se, just looking for some suggestions for how I'm using `tidycensus`. Let's say I needed the total female population as well as the female population under 10 years old.  I'll use `B01001_026` for the total female population and then I need to sum `B01001_027` and `B01001_028` to get the female population between 0 and 9 years (let's not worry about the MOE for now).

My first app

[2017-11-27 14:19] pat-s opened #43 "Error: Internal error: expected a vector"
When using `output = wide`

[code]

[2017-11-27 14:45] walkerke commented on #43
I can't reproduce your error - your code works for me.  Can you provide the results of your `sessionInfo()`?

[2017-11-27 14:46] walkerke commented on #42
Thanks for the note - sorry I've been busy this week.  I'll take a look at this.

[2017-11-27 14:53] pat-s commented on #43
Oh, interesting!
FYI: Error occurs also with the Github version.

[code]

[2017-11-27 14:59] mfherman commented on #43
I can't reproduce this specific error either, but I think I've had some issues with certain variables when I include the "E" suffix. Do you get the same error with the following code?

[code]

[2017-11-27 15:43] pat-s commented on #43
@mfherman Yes I do, although the error takes a bit longer to occur.

Here's the traceback, I might dig a bit into it when I have time. Looks like a local problem then..

[code]

[2017-11-27 16:22] pat-s opened #44 "Meaning of "tidy" option in 'output' argument"
Hi there,

according to https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html and my understanding of "tidy" data, variables should always be in their own column.

When downloading data with `tidycensus` , the "tidy" option in the `output` argument puts all dowloaded variables in one column which is exactly the non-tidy version.

I guess that `output = wide` would reflect the "tid

[2017-11-27 16:34] pat-s commented on #43
Works on a Debian 9 machine so seems to be a local Arch problem.

[2017-11-27 19:31] walkerke commented on #44
Thanks for your note, I'm glad you find the package useful!

I am interpreting tidy data differently than your interpretation - this is a good opportunity to explain my design philosophy.   A good corollary here is taken from the link you provided - the "Column headers are values, not variable names" section with the income/religion example.  In this example, each religion is a row in the messy da

[2017-11-27 19:31] #44 closed

[2017-11-28 13:01] pat-s commented on #44
Thanks for the extensive answer @walkerke!

I agree with your opinion on tidy data and that `output = wide` is not tidy. What I came across and what was the reason for this question is the following:

[code]
If one does not download tables but variables, multiple unrelated variables get stored in the same column. This quickly leads to missinterpretation of data. For example if one now plots `estim

[2017-11-29 18:56] benjaminrobinson opened #45 "Possible to Pull Down National Level Numbers?"
I'm trying to pull down national numbers but the highest level of geography seems to be states, where I could get national estimates by adding up state values.  I'd rather not do that if possible given the margins of error.  Is there a way to do that within the tidycensus package?  Thanks for developing this.  Its really great stuff!

[2017-11-29 19:35] walkerke commented on #45
Yes - use `geography = "us"`.  Available geographies and how to format them are here: https://api.census.gov/data/2015/acs/acs5/geography.html.  I had an error message pointing users there but I think it's getting superseded by another error message; I'll have to fix that.

[2017-11-29 19:35] #45 closed

[2017-11-29 19:42] benjaminrobinson commented on #45
Thanks @walkerke for the quick response!

[2017-12-01 03:28] mfherman commented on #42
No rush at all, just enjoying playing around with the package! While I was at it, I realize another option for aggregating is to use `pmap()` instead of `rowwise()` with the wide form. It looks something like this:

[code]

[2017-12-07 19:51] camille-s opened #46 "Further bug related to 2016 5-year data"
Thanks for fixing the handling of acs5 vs acs/acs5 (https://github.com/walkerke/tidycensus/commit/c5114452b475baaadfd58034c4cac5007b545787) so quickly! I found a related bug but also a workaround. When I call `get_acs(geography = "state", table = "B01001", survey = "acs5", year = 2016)`, I get the error: `Error: lexical error: invalid char in json text.
                                       <html

[2017-12-07 20:17] walkerke commented on #46
Thanks for filing the issue!  Yes, I have some cleaning up to do regarding the new endpoint.  I'm working on a thorough walkthrough of the code as tidycensus (and tigris) will soon default to the new 2016 data as of the next CRAN version.

[2017-12-07 20:25] walkerke commented on #46
This should be fixed as of https://github.com/walkerke/tidycensus/commit/7c6ceb84b1dc8d35c377627a95abab2ba8669e7d; however let me know if you find anything else!

[2017-12-07 20:25] #46 closed

[2017-12-15 13:34] dcvanriper opened #48 "Lexical error: invalid char in json text when accessing 1-year ACS data for 2006-2011"
I tried to use TidyCensus to access 1-year ACS data for 2006-2011 using the following:

`df <- get_acs(geography = "state", table = "B01001", survey = "acs1", year = 2006)`

I received the following error message at the console:

[code]

The request works for 1-year data from 2012-2016. Possibly an issue with the census API, but I wanted to bring it to your attention.

[2017-12-18 21:21] bigck2 opened #49 "can get_acs() pull in 5 year data from 2016?"
It seems like the get_acs() function can pull in the "acs5" survey from 2015, but not the most recent 2016 survey. Is this feature going to be available in a future release of tidycensus?

This doesn't seem to work:
`state_pop <- get_acs(geography = "state",
                                    variables = "B01003_001",
                     survey = "acs5",
                     year = 2016) `

But

[2017-12-18 21:29] mfherman commented on #49
Hey there -- I think Kyle is waiting to make some other changes before he pushes the new version of the package to CRAN, but if you install the development version from GitHub, the 2016 estimates are available:

`devtools::install_github("walkerke/tidycensus")`

[2017-12-18 22:30] bigck2 commented on #49
Hi mfherman, thanks so much for your response. I downloaded the development version and it works great. The tidycensus package is awesome thanks again.

[2017-12-18 22:30] #49 closed

[2017-12-18 22:40] walkerke commented on #49
Thanks @mfherman for answering!  Yes that is correct.  I'm going to be working on the package over the next month and the new CRAN version of tidycensus will default to the 2012-2016 estimates.

[2017-12-18 22:42] walkerke commented on #48
Thanks David!  Yes the ACS 1-year API only goes back to 2012 (2011 for congressional districts only).  This would merit a more informative error message I think.

[2017-12-18 23:01] dcvanriper commented on #48
Thanks for the response! That makes sense to me.

[2017-12-19 22:52] TBleess opened #50 "More closure issues"
For some reason when I try this command, I get the result after:
acstab <- get_acs(geography = "us", variables = c("B00001_001","B00001_002"), year = 2016, output = "wide", survey = "acs5")
[1] "Client error Bad Request Client error: (400) Bad Request"
Error in as.character(x) :
  cannot coerce type 'closure' to vector of type 'character'

But this works:
acstab <- get_acs(geography = "us", variab

[2017-12-20 03:44] walkerke commented on #50
You've identified an interesting wrinkle in tidycensus that I hadn't accounted for.  The two variables you are requesting are the unweighted sample counts of the US population and households, respectively - so the number of people and households included in the survey before sampling weights are applied.  As such, these variables do not have margins of error.  tidycensus, however, always requests

[2017-12-20 05:03] matt439miller opened #51 "Blocks an invalid geography for Census2000?"
library(tidycensus)
library(tidyverse)
library(viridis)
library(ggplot2)
library(dplyr)

#------Get Decennial Census Data
ut2000tract <- get_decennial(geography = "tract", variables = "P001001", year = 2000, sumfile = "sf1",
                        key = mykey, state = "49", county = "035", geometry = FALSE)
ut2000BG <- get_decennial(geography = "block group", variables = "P001001", year = 2000, s

[2017-12-20 05:18] walkerke commented on #51
At the moment, yes.  This is due to a limitation of the Census 2000 API as block data are only available by tract for 2000, and I don't have functionality in the package to handle this right now.  In the meantime I'd suggest using NHGIS (http://www.nhgis.org) for this kind of data.

[2017-12-20 16:46] TBleess commented on #50
Thank you! Is it possible do this for any value lacks a margin of error? (B98001, B98002 and imputation tables I believe have the same issue) I was able to download these variables successfully for the 2010 ACS back in October, this library is saving me a ton of time from my previous method of extracting this data.

[2017-12-23 15:30] walkerke commented on #48
I've included a more informative error message in https://github.com/walkerke/tidycensus/commit/eb4dfed4bbd4d5d5ac7b6ef1064e4267bb5e1257.

[2017-12-23 15:30] #48 closed

[2017-12-23 15:33] #43 closed

[2017-12-24 11:51] walkerke commented on #51
I've now included a more informative error message for this: `Error: At the moment, block data is only available for 2010. I recommend using NHGIS (http://www.nhgis.org) and the ipumsr package for block data for other years.`.  It is possible that I would include this functionality in the future but it would require including tract lookup tables for every county in the US in the package, so it isn

[2017-12-24 11:51] #51 closed

[2017-12-24 12:20] walkerke commented on #39
Closing this as a) I'd like to keep the purposes of tidycensus and tigris fairly distinct from one another, and b) not all Census geographies are supported in tidycensus, so I don't want to introduce confusion.

[2017-12-24 12:20] #39 closed

[2017-12-24 20:35] walkerke commented on #38
I've pushed this functionality in https://github.com/walkerke/tidycensus/commit/83dfe950a32c15ba5e7a9cf16004c2b8d75ba68c.  The way this works is by supplying a named vector to the `variables` parameter in either `get_acs()` or `get_decennial()`.  For example:

[code]

Or:

[code]

And in wide form:

[code]

@dkyleward would you mind testing and letting me know if this meets your needs, or if you h

[2017-12-26 12:22] walkerke commented on #50
I've pushed a fix in https://github.com/walkerke/tidycensus/commit/8e4efb0f86886f322890c363e10fa134b8b71ce8.  tidycensus now checks to see if a requested variable does not have an associated margin of error, and does not attempt to fetch the margin of error in those instances.  For example, if you were to request the sample count and sample housing unit variables by state for the 2012-2016 ACS:

[

[2017-12-26 15:37] walkerke commented on #37
I've just pushed this functionality in https://github.com/walkerke/tidycensus/commit/9eaff0a8e2fde9c898c20a7eaa48699cc32039c7.  For example:

[code]

It is a bit slow when getting feature geometry for states with large number of counties (e.g. Texas) due to the way tidycensus handles this internally but it works.

[2017-12-26 15:37] #37 closed

[2017-12-26 15:49] #50 closed

[2017-12-26 15:49] #38 closed

[2017-12-26 16:28] walkerke commented on #36
I've pushed an update to tigris (https://github.com/walkerke/tigris/commit/f2e053f21f4fbd128a885dedb35f5a40b0ea0898) that allows for the requested behavior.  Block data with geometry for 2010 is now much, much faster!  Thanks for the suggestion.

[2017-12-26 16:28] #36 closed

[2017-12-27 20:54] dkyleward commented on #38
Perfect, thank you!

[2017-12-27 20:57] dkyleward commented on #37
Awesome. I'll take functionality over speed any day! (especially for first attempt.) Thanks for doing this.

[2017-12-27 20:58] dkyleward commented on #39
Oh OK. I didn't realize that last part. Makes sense to me.

[2017-12-27 21:07] moonican commented on #35
I am actually getting this issue again myself. Not sure how to resolve.

[2017-12-27 21:25] walkerke commented on #35
Can you post the code that is triggering the error?

[2017-12-27 21:32] walkerke commented on #35
@aeonstone the reason for the error you are experiencing is because tidycensus does not support single-geography queries at the moment.  So, to get the data you need:

[code]

I may add this functionality in the future (as it makes more sense now that tidycensus supports tables) but in the meantime you can use tidyverse tools to get the data you need as in the example above.

[2017-12-27 21:57] moonican commented on #35
Ah ok, maybe I have the same issue as @aeonstone, then. I am able to get dfCounty and dfMadisonCounty to load, but not dfBlocks. My goal is to get blocks for Madison County, Alabama.

Thanks for the help.

[code]

[2017-12-27 23:50] walkerke commented on #35
The issue above is that block data is not available in the American Community Survey; you can only get it from the decennial Census.  The smallest geography available in the ACS is the block group.  I've included an error message in https://github.com/walkerke/tidycensus/commit/7e403c36e3e8a0fe8b5cd021391462619d8e7a14 explaining this.

Your request for the 2010 Census, however, would look like thi

[2017-12-27 23:50] #35 closed

[2017-12-28 21:14] moonican commented on #35
Thank you!

[2017-12-31 00:51] walkerke commented on #40
I've been giving this some thought and I've now built this functionality into the package as I could see it being a common request.  So now, this works:

[code]

[2017-12-31 03:00] walkerke commented on #34
I've pushed this update in https://github.com/walkerke/tidycensus/commit/040c0b97e67ddf6767b711c10d1a2abe808e2264.  Let's take an example of the black population age 25 to 44 by household income in Benton County, Oregon, which has a lot of zero estimates.  The published estimate and MOE for this group is 107 and 94, respectively.

[code]

We can get column summaries with dplyr:

[code]

The old wa

[2017-12-31 03:00] #34 closed

[2017-12-31 03:07] walkerke commented on #42
This is a great example, thanks for sharing this!  I imagine it will help a lot of users.

In your first example, you could also use the `summary_var` parameter:

[code]

I like the `rowwise()` approach for working with wide-form data too.

[2017-12-31 03:07] #42 closed

[2018-01-03 22:15] ldaly commented on #29
In the example above, these MSAs have "*****" for the MOE, which indicates that the estimate is controlled. The [Census notes](https://www.census.gov/content/dam/Census/newsroom/press-kits/2015/comparing_acs_estimates.pdf) that these MOEs can be converted to zero when doing statistical tests.

While I appreciate the simplicity of the current MOE layout, I'd like to be able to differentiate between

[2018-01-08 19:06] RyanWalch opened #52 "ACS5 fails to download for some years(2011 and 2012) but not others."
I get an error running this code

[code]

The error

'''
Please note: `get_acs()` now defaults to a year or endyear of 2016.
Downloading feature geometry from the Census website.  To cache shapefiles for use in future sessions, set `options(tigris_use_cache = TRUE)`.
Using FIPS code '04' for state 'AZ'
trying URL 'http://www2.census.gov/geo/tiger/GENZ2012/cb_2012_04_tract_500k.zip'
Error in downlo

[2018-01-08 19:37] walkerke commented on #52
Thanks, this will be a quick fix.  The issue is with the geometry for those years, so if you set `geometry` to `FALSE` it'll work for now.  I'll get this taken care of shortly.

[2018-01-08 21:08] mfherman opened #53 "get_acs() error when output = "tidy""
Hi Kyle,

I'm having trouble using "tidy" output from `get_acs` with version 0.4. I've tried a few different tables, variables, years, etc. and keep getting a similar error when I use tidy output. When I use wide output, everything is working as expected. The error persists with both the CRAN and GitHub versions of tidycensus.

See below for reprex:

[code]
Created on 2018-01-08 by the [reprex pac

[2018-01-08 22:36] walkerke commented on #53
I can't reproduce this error; however I notice you are on the dev versions of the tidyverse packages while I am testing on the CRAN versions.  I wonder if an update to tidyr dev is breaking things.  I'll investigate.

[2018-01-08 22:59] walkerke commented on #53
I just tested against the development version of tidyr and I can reproduce the error.  I note in the upcoming release notes for tidyr: (https://github.com/tidyverse/tidyr/commit/7e894a356da8ccab4dd5747993d3b5e9239621c6)

@hadley I'm tagging you here as you mentioned that you'd appreciate a reprex in this event which @mfherman has provided above.  @mfherman I'd just recommend rolling back to the CR

[2018-01-09 03:59] walkerke commented on #53
I've figured this out.  The `separate()` function in tidyr has changed in the development version in its interpretation of character positions as negative integers from the right-hand side of a string.  The issue is addressed here: https://github.com/tidyverse/tidyr/issues/315.

tidycensus detects whether a column represents `estimate` or `moe` by extracting the last character of an ACS variable,

[2018-01-09 04:14] mfherman commented on #53
Nice detective work, @walkerke! I rolled back to CRAN tidyr and now it's working as expected. I don't need the dev version of tidyr so no need for a branch.

Thanks again for the package. After showing some of my grad school classmates how easy it is to access ACS data with tidycensus, they all want to learn R so they never have to use American FactFinder again!

[2018-01-09 06:00] mfherman commented on #53
I was thinking we could get around this by using `extract()` with some regex instead of `separate()` to extract the `E` or `M` and split into two columns:

[code]
This worked in some of my minimal testing with a variety of variables, but not sure if it would catch all of them? The change is in PR #54.

[2018-01-09 13:50] kitsoho opened #55 "ACS 1-year survery: error when downloading 2010 or 2011"
I received the following error when trying to download 2010 and 2011 data using the ACS 1-year survey. I was able to download 2010-2016 with no problems using the ACS 5-year survey.

![34618696-914ce2c4-f20d-11e7-9948-ff469dc3b75e](https://user-images.githubusercontent.com/4572420/34723834-e7b41128-f519-11e7-83fc-f05f2ed9cfb2.png)

[2018-01-09 14:02] hadley commented on #53
Thanks - just added this to the readme:

* `separate()` now correctly uses -1 to refer to the far right position,
  instead of -2. If you depended on this behaviour, you'll need to switch
  on `packageVersion("tidyr") > "0.7.2"`

(And I'd really recommend just using `packageVersion("tidyr")` rather than completely changing your approach)

[2018-01-09 15:48] walkerke commented on #55
1-year ACS data are only available beginning in 2012, as addressed in https://github.com/walkerke/tidycensus/issues/48.  The newest version of tidycensus gives the following error message:

[2018-01-09 15:48] #55 closed

[2018-01-09 15:54] kitsoho commented on #55
Ah thanks for clarifying! Sorry I missed that previous issue.

[2018-01-09 15:57] walkerke commented on #55
No problem, thank you for using the package!

[2018-01-09 16:00] walkerke commented on #52
This is fixed in https://github.com/walkerke/tidycensus/commit/02e3b116868546f00ed03c7e0d53af54eda76d99.  tidycensus uses the cartographic boundary files available from tigris by default, but can fetch the regular TIGER/Line files with the keyword argument `cb = FALSE`.  However, cartographic boundary files do not exist for 2011 and 2012, so tidycensus now uses the TIGER/Line files by default for

[2018-01-09 16:00] #52 closed

[2018-01-09 19:53] walkerke commented on #53
Thanks @hadley!  I've followed your suggestion and fixed this in https://github.com/walkerke/tidycensus/commit/b5eb29406953ff0f1666273dcc2f26220733d656.  @mfherman I really appreciate you taking the time to make the pull request - any future PRs are quite welcome!

[2018-01-09 19:53] #53 closed

[2018-01-10 15:51] mfherman commented on #53
Thanks @walkerke! sf is now working for me with both CRAN and dev tidyr.

[2018-01-13 15:24] katiejolly opened #56 "json error with load_variables()"
I used the load_variables example but got this error message: `Error: lexical error: invalid char in json text. <html><head><title>Error report (right here) ------^`

After looking around online, it looks like it might be an issue with parsing the JSON. Or am I doing something incorrectly?

[2018-01-13 16:21] walkerke commented on #56
Could you please post the code you tried and the results of your `sessionInfo()`?

[2018-01-13 16:31] katiejolly commented on #56
`v16 <- load_variables(2016, "acs5", cache = TRUE)`

`> sessionInfo()
R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

atta

[2018-01-13 18:41] walkerke commented on #56
It looks like you have an old version of tidycensus installed.  Upgrade to version 0.4 from CRAN with:

[code]

and your code should work.  While you are at it, there is a new version of __tigris__ on CRAN as well; I’d recommend upgrading that package too.

[2018-01-13 18:41] #56 closed

[2018-01-20 18:59] sheffe opened #57 "NAs returned for tract GEOID"
First - this package has saved me tons of time/stress - thank you!

Weird issue here. I am running the current CRAN edition 0.4. When I call get_acs() for tract geography, I see NAs in the `GEOID` column despite seeing what appear to be correct values for the tract `NAME`, `estimate`, and `moe`. This is a new issue for me after updating to 0.4.

This does not occur for all counties. In a recent pu

[2018-01-20 20:38] walkerke commented on #57
Thanks for your kind words!

I'm unable to reproduce the error.  I'll investigate this.

[2018-01-20 22:44] sheffe commented on #57
One possible lead - in the initial report, the states that returned GEOID NA were in alphabetical order up to Iowa. I verified that it's not a case of dropped leading 0s in state FIPS, like you sometimes see with ZIPs as integers (2138 for 02138). Between this and the repeated messages when translating a state/county name input to a FIPS code, maybe something related to input string handling? I'm

[2018-01-21 15:41] bbrewington opened #58 "Getting population estimates with get_decennial function"
Is it possible to get the yearly population estimates using the get_decennial function?  It currently limits the year to the actual census year (1990, 2000, 2010)

Link to "popest" dataset: https://www.census.gov/data/developers/data-sets/popest-popproj/popest.Vintage_2015.html

The R package "censusapi" can grab this info with the getCensus function:
[code]

[2018-02-01 14:24] walkerke commented on #57
Hey John - I've been testing on an Ubuntu instance and the above code is working as expected.  I had a hunch that something might be going on with regards to https://github.com/walkerke/tidycensus/blob/master/R/acs.R#L244; this is how tidycensus gets around the 50-variable limitation for Census API calls as it makes multiple calls to the API and stitches the datasets together.   My `sessionInfo()`

[2018-02-28 14:31] sheffe commented on #57
@walkerke have my EC2 instance back up again, and seeing the same issue with 0.4.1 (CRAN edition as of today 28 Feb) and the master on Github.

[code]

And using current master on github (identical calls / sessionInfo but with devtools::install_github("walkerke/tidycensus")) I see the same thing...

<img width="596" alt="screenshot 2018-02-28 09 25 00" src="https://user-images.githubusercontent.co

[2018-02-28 14:52] sheffe commented on #57
For what it's worth, comparing the results of the MacOS pull to the Ubuntu pull:

- everything in estimate/moe is identical
- all variables are present and correctly ordered
- there are no census tracts dropped and the NAME contents and arrangement are equivalent

The error still only happens for the subset of states noted above. It occurs whether we call state and county by string name ("AL", "Au

[2018-02-28 19:37] walkerke commented on #57
Thanks again for checking!  I've just run your code successfully on RStudio Cloud using the same Ubuntu version as you.  Here are my results:

[code]

The only differences I see at first glance are:
* You are on R 3.4.2, I'm on R 3.4.3
* You have a different LAPACK version (not sure why that would matter, though)

I'll keep working on this one!

[2018-03-01 14:47] sheffe commented on #57
@walkerke Okay - read the release notes on 3.4.2 --> 3.4.3 and didn't see anything obvious, but I'll update to 3.4.3 later today / do a clean install of package dependencies and rerun once that's finished. We've resolved the practical issue by pulling data using an earlier version of tidycensus, but I'd still like to help figure out why. Thanks as always!

[2018-03-03 20:48] walkerke opened #59 "Economic Census and Population Estimates integration"
The next step in tidycensus's development will be to add selected datasets from the US Census APIs that are commonly requested.  For version 0.5, this includes:

* The Economic Census API: https://www.census.gov/data/developers/data-sets/economic-census.html
* The Population Estimates APIs: https://www.census.gov/data/developers/data-sets/popest-popproj/popest.html

You can track progress on these

[2018-03-03 20:50] walkerke commented on #58
Closing this as I'll be handling it in https://github.com/walkerke/tidycensus/issues/59.  Stay tuned for a new `get_estimates()` function that will handle data from the estimates APIs.

[2018-03-03 20:50] #58 closed

[2018-03-04 05:04] tarakc02 commented on #57
I just ran into the same problem as @sheffe, and googling got me here. I'm also on Ubuntu, R 3.4.2. I fiddled around with tracing back the error, and found it is happening right here: https://github.com/walkerke/tidycensus/blob/master/R/acs.R#L288 (and again a few lines down for output = "wide"). Some GEOIDs are being converted to NA during that part. I tested a few values to be sure, and:

[code]

[2018-03-04 11:46] walkerke commented on #57
@tarakc02 @sheffe I was wondering if it was that... I just could never reproduce it myself.  The reason why I did that is to solve https://github.com/walkerke/tidycensus/issues/29 as NAs for margins of error for various variables are represented as a variety of different negative integers - so that was to take care of all of them.

I note on Ubuntu, R 3.4.3:

[code]

However I will still patch thi

[2018-03-04 12:04] walkerke commented on #29
@ldaly looping back around to this - I'm not seeing how the Census is making this distinction in their documentation so I'll get in touch with them about it.  Incidentally this may get solved as a result of solving another issue (#57).

[2018-03-04 12:29] walkerke commented on #57
I believe https://github.com/walkerke/tidycensus/commit/13a7c67f45ad77649ee406e402c419e01f0d3cdf should now solve this issue.  Would either of you mind testing?

[2018-03-04 16:51] tarakc02 commented on #57
This works as expected for me. And replacing the exact values that are used to encode NA seems to get around the unpredictable nature of `<` on certain character values. In case something similar comes up again, or just for the sake of more clearly communicating what's happening, a safe approach could be to explicitly apply the transformation only to numeric columns. I thought of two ways to do th

[2018-03-04 16:53] walkerke commented on #57
Thanks so much, glad to hear it is working!  I'm closing this issue.

[2018-03-04 16:53] #57 closed

[2018-03-10 00:06] llpuente opened #61 "Kusilvak Census Area (Alaska) Disappears When Using shift_geo = T"
When pulling data and geo files and using the `shift_geo = T` feature, the Kusilvak Census Area, Alaska disappears (fips code = 02158).

Example:
[code]

[2018-03-10 03:11] #61 closed

[2018-03-10 03:14] walkerke commented on #61
Ah yes I forgot that one.  Fixed now.

[2018-03-11 21:45] vinhdizzo opened #62 "Query data for a list of GEOID (tracts)?"
Hi,

Suppose I have a list of tract level GEOID's, and I want to query census data via `get_decennial` for this list.  Can I do this within tidycensus?  Or do I have to pull tract data for all states via `get_decennial` with the `geography='tract'` option, then subset the GEOID's that I am interested?  The latter is inefficient, so would like to know if there is any way around this.  Thanks!

[2018-03-11 23:37] walkerke commented on #62
Right now this isn't supported.  Would you mind explaining the use case a bit more?  Would you need data for tracts that are potentially scattered around the US?

Tract-specific data are currently available from the API if a state and county are specified.  Getting data for specific tracts at a time isn't currently available as I haven't had a request for it, but you could conceivably write a wrap

[2018-03-11 23:56] vinhdizzo commented on #62
Thanks for the prompt response Kyle.

My use case case is to use census variables in building a predictive model.

1. I geocoded each address to get lat/long.
2. For each lat/long, tie to to a census tract.
3. Get list of unique census tracts.
4. Leverage your package to pull relevant census variables.

Thanks for the suggested code. I was going to do it brute Force similar to
your code, repeating

[2018-03-12 01:03] walkerke commented on #62
Thanks for the reply!  Yes I think that is the best move.  We can check what this would look like by using the censusapi package, which allows for the acquisition of specific tract data.  tidycensus would need to implement something like this under the hood.

[code]

This runs a bit slower than the earlier code sample from tidycensus:

[code]

[2018-03-12 01:03] #62 closed

[2018-03-12 17:11] jabowery opened #63 "Documentation: ACS Flows"
In "[Working with ACS data](https://walkerke.github.io/tidycensus/articles/basic-usage.html#working-with-acs-data)" I see no way to answer the question of how one can acquire State to State (or any other geography), migrations via tidycensus.  I've located [the variable names in the Census Data API](https://api.census.gov/data/2015/acs/flows/variables.html), but it seems no combination of argument

[2018-03-12 18:45] walkerke commented on #63
The ACS flows API is not currently supported in tidycensus.  I'm currently working on supporting new datasets (see #59) so this might be something I could include in the future.

If you want a package that fully exposes the Census APIs, I recommend the censusapi package (https://github.com/hrecht/censusapi) which presumably could get you migration flow data.

[2018-03-12 18:45] #63 closed

[2018-03-24 04:29] timathomas opened #64 "Error in as.character(x) : cannot coerce type 'closure' to vector of type 'character'"
Hi Kyle,

Love your package and really appreciate your work!
This code below was working a few hours ago but all of a sudden I'm getting the error:

[code]
I ran this on the latest R version 3.4.4 and 3.4.3 as well as on the CRAN and GitHub version of tidycensus. Also tried other renditions of the code for different geographies and states. All coming up with the same issue. I'm assuming that maybe

[2018-03-24 17:57] timathomas commented on #64
Well, looks like it's working now. Must, have been something at the API level. Thanks!

[2018-03-24 17:57] #64 closed

[2018-03-26 15:20] walkerke commented on #64
Glad to hear!

[2018-03-29 03:59] Hamed51 opened #65 "scales = "free" and theme(aspect.ratio = 1) Not working on your example"
@walkerke
Hi ,
At your website, one your , "Compare US metropolitan area characteristics in R with tidycensus and tigris", which link is: http://walkerke.github.io/2017/06/comparing-metros/ , at end of  example, you created facet map and instruct to  set scales = "free" and theme(aspect.ratio = 1) if you want this to work correctly.
but i got this message by R: Error: Free scales are only supporte

[2018-03-30 03:13] walkerke commented on #65
you are correct, an update to ggplot2 broke that blog post.  I need to remove it but I've since upgraded my operating system and my old blogdown configuration hasn't been working, and I haven't had the time to debug it.

[2018-03-30 07:25] k10sj02 opened #66 "Not able to install tidycensus"
Hello, I'm new to R and unable to install tidycensus. See error below:

Error in library(tidycensus) : there is no package called ‘tidycensus’

[2018-03-30 14:25] walkerke commented on #66
In R, packages are installed with the `install.packages()` command.  So do this first:

[code]

Then:

[code]

[2018-03-30 14:25] #66 closed

[2018-03-30 17:21] k10sj02 commented on #66
Hi Walker, I forgot to say that I put the initial script to download it:

     Package LibPath Version Priority Depends Imports LinkingTo
     Suggests Enhances License License_is_FOSS License_restricts_use
     OS_type Archs MD5sum NeedsCompilation Built

Error in library(tidycensus) : there is no package called ‘tidycensus’

[2018-03-30 18:44] k10sj02 commented on #66
My bad. I was in a rush replicating this. This is the correct error message now:

  There is a binary version available but the source version
  is later:
           binary source needs_compilation
tidycensus    0.4  0.4.1             FALSE

installing the source package ‘tidycensus’

trying URL 'https://cran.rstudio.com/src/contrib/tidycensus_0.4.1.tar.gz'
Content type 'application/x-gzip' length

[2018-03-30 18:51] mfherman commented on #66
Looks like your system is running into a problem when it tries install `tidycensus` from source. It seems to need another package, `rgdal`, to complete the installation. You could try to install `rgdal` first and then install `tidycensus`.

[code]

[2018-03-30 18:55] k10sj02 commented on #66
Oh man. I tried that and still nothing. Sorry for the back and forth. I'm new to R.

  There is a binary version available but the source version
  is later:
           binary source needs_compilation
tidycensus    0.4  0.4.1             FALSE

installing the source package ‘tidycensus’

trying URL 'https://cran.rstudio.com/src/contrib/tidycensus_0.4.1.tar.gz'
Content type 'application/x-gzip' len

[2018-03-30 18:59] mfherman commented on #66
I know I've had some trouble installing `rgdal` from source on certain machines. Another option would be to select `n` when it asks you:
[code]
You will get the earlier version of `tidycensus` that has a binary on CRAN, but it should work fine.

[2018-04-01 10:33] walkerke commented on #66
@mfherman is correct, you need to install GDAL first.  This will allow you to use all of R's spatial packages so it will be worth the headache once it's done.

I'm a Windows & Linux user so I don't know as much about OSX.  However this post may be of use: https://stackoverflow.com/questions/34333624/trouble-installing-rgdal.

If you use Homebrew, the simplest path seems to be:

In your Terminal:

[2018-04-01 18:09] jamgreen opened #67 "NAs returned for place GEOIDs"
So, this is a similar issue to issue #57. I'm running tidycensus 0.4.1

I'm trying to get total population for all places for the fifty states and have near 9100 GEOIDs returning NAs.

`if(!require(pacman)){install.packages("pacman"); library(pacman)}
p_load(tidycensus, sf, dplyr)
options(tigris_use_cache = TRUE, tigris_class = "sf")

state_fips <- fips_codes

state_fips <- state_fips %>%
  group_

[2018-04-01 22:11] walkerke commented on #67
Installing from GitHub should do the trick - the current CRAN version is experiencing this issue on select Linux installations.  I've tested on Ubuntu 16.04.4, R version 3.4.4 and your code is working is expected with no NA GEOIDs.

[2018-04-01 22:11] #67 closed

[2018-04-07 00:37] josiekre commented on #62
Thanks for this tip. I am one of the contributors to the `censusr` package, and this is a key feature for the development of the package.

My colleague and I run travel models on metropolitan regions all over the US. A region is usually defined by a set of counties, sometimes in one state and sometimes not.

We are considering deprecating that package and sending users over here so we can consolid

[2018-04-16 23:59] RoyalTS opened #68 "geometry drops rows"
I assume this is not expected behavior?

    [1] 44

    [1] 43

(the tract being dropped has zero total population (`P0090001`))

[2018-04-17 02:47] walkerke commented on #68
It is expected behavior.  The tract in question in the example above is a water-only tract off the coast of Panama City, Florida.  The cartographic boundary shapefiles used by tidycensus are clipped to the shoreline of the US and thus omit water-only tracts that lie off the coast.

That said - you _have_ indirectly encountered a bug.  You _should_ be able to use the regular TIGER/Line shapefiles,

[2018-04-17 16:43] RoyalTS commented on #68
Hmm, you'll know better what other people are going to expect when they pull such data. In as far as the data source for the geometry does not have anything for that tract I would have expected a left join and thus an `NA` for the geometry in the tidy data.frame. It seems weird to me that merely changing a boolean argument for whether I want a geometry or not changes the result set.

[2018-04-17 17:26] RoyalTS commented on #68
Also: I think the behavior differs for `geography = 'block'`. I just pulled all blocks for the 2010 decennial and the number of blocks I got matches the total number of blocks, period, not just the non-water blocks.

[2018-04-17 17:31] walkerke commented on #68
Hmm, that is worth thinking about, returning NA geometries for missing areas.

There aren't cartographic boundary files for blocks - only TIGER/Line files - which is why you get that behavior.

[2018-04-17 17:33] RoyalTS commented on #68
Given all that I think the `NA`s would at the very least produce results that are more transparent about these issues. I just stumbled on them because I did some fairly anal testing.

[2018-04-17 17:49] walkerke commented on #68
You've convinced me; rows not in the cartographic boundary files now have empty geometries (https://www.r-spatial.org/r/2017/03/19/invalid.html#empty-geometries) as of https://github.com/walkerke/tidycensus/commit/944c1bce35f2993a6586301ad731656633f850a4.  I'll leave this issue open until I fix the other issue regarding `cb = FALSE` for `get_decennial()`.

[2018-04-17 17:57] RoyalTS commented on #68
Always good to be convincing :)

Thanks for the quick turn-around!

[2018-04-20 23:55] nriley opened #69 "Latitude for continental US wrong with shift_geo"
The continental US seems to be at the wrong latitude when I use `shift_geo`.  Obviously I'm not expecting Alaska and Hawaii to be in the right places, but the rest of it is way off.

Here's a simple example of what I'm trying:

[code]

gives me:

![image](https://user-images.githubusercontent.com/68303/39078038-5b6e1b72-44d4-11e8-84f9-63ca119a5a81.png)

which is off by quite a lot.

I am quite new

[2018-04-21 15:26] walkerke commented on #69
`shift_geo` returns data pre-packaged with a custom coordinate system designed for cartographic display of the US - the coordinate system of this data should not be transformed.  Yes, I would always recommend using `coord_sf(datum = NA)` as the graticule is misleading.

If you need an accurate graticule, I'd advise against using `shift_geo()` and instead putting Alaska and Hawaii in their own inse

[2018-04-21 15:26] #69 closed

[2018-04-21 15:42] walkerke opened #70 "Puerto Rico now retained when shift_geo = TRUE"
After implementing the suggestion in https://github.com/walkerke/tidycensus/issues/68, Puerto Rico gets retained when `shift_geo = TRUE` even though there is no Puerto Rico geometry, which influences the look of maps, sometimes significantly.

[2018-04-28 20:16] RoyalTS opened #71 "missing variable values in get_decennial()"
I've hit on a bit of a weird thing where `get_decennial()` will error, return `NA` for some variables or return the correct set of values depending on what combination of variables are being pulled. Minimal-ish reproducible example:

    library(tidycensus)

    tidycensus::get_decennial(geography = 'tract',
                              variables = c('H0050001', 'PCO0030001'),

[2018-04-29 12:40] walkerke commented on #71
I've done some checking this morning and it appears that the variable `PCO0030001` is not available at the Census tract level; `httr::GET()` returns a status code of `204` for "no content".

This has been a long-standing issue in tidycensus that I've been unsure how to satisfactorily resolve, as I haven't found a lookup table that states which variables are available (or unavailable) at which geog

[2018-05-05 19:56] dhicks opened #72 "named variables with "wide" output"
Using named variables with "wide" output, the estimate columns are renamed but not the MOE columns.  R 3.4.3, tidycensus 0.4.6.

[code]

<details><summary>Session info</summary>

[code]

</details>

[2018-05-05 20:00] dhicks commented on #72
And 15 seconds later, I realize that just leaving the "E" off the end of the column designations fixed the problem.

Since I got the column designations from the dataframe returned by `load_variables()`, maybe the "bug" should be that the `name` column in that dataframe includes the "E," and unwary can end up with the problem above.  So `name` shouldn't have the "E."

[2018-05-06 11:58] walkerke commented on #72
Good catch!  I'll fix that.

[2018-05-10 18:00] fischertr opened #73 "Leaflet issue with get_acs data frame for iowa tracts"
When I execute the following code I get this error:

Error in if (length(nms) != n || any(nms == "")) stop("'options' must be a fully named list, or have no names (NULL)") :
  missing value where TRUE/FALSE needed

I only get this error when I select 2014 as the year, any other years seem to work just fine.

Here is the code:

require(tidyverse)
require(tidycensus)
require(viridis)
require(tigris)

[2018-05-11 21:43] matt439miller opened #74 "Erratic get_decennial for counties generating error"
library(sf)
library(tidyverse)
library(tidycensus)
census_api_key(mykey)
options(tigris_use_cache = TRUE)
m90 <- get_decennial(geography = "state",  variables = "H043A001", year = 1990)
m90 <- get_decennial(geography = "county", variables = "H043A001", year = 1990)
m90 <- get_decennial(geography="county",state="49", county="049", variables = "H043A001", year = 1990) #yes
m90 <- get_decennial(geogr

[2018-05-12 04:32] walkerke commented on #73
Here's the issue: https://github.com/rstudio/leaflet/issues/482.  Leaflet can't map POLYGON Z data at the moment - and 2014 cartographic boundary files from the Census Bureau are distributed as POLYGON Z.

I'll clean this up under the hood in __tidycensus__.  In the meantime you can use `st_zm()`:

[code]

[2018-05-12 04:37] walkerke commented on #74
Variable IDs are generally not repeated across decennial Censuses.  For example - note in your code how you are trying `P001001` (four zeroes) for 2010, but identify `P0010001` from `load_variables()` (five zeroes).

[2018-05-12 04:37] #74 closed

[2018-05-13 02:06] walkerke opened #75 "Flows API integration"
As a summer dev project I'd like to incorporate access to the migration flows API: https://www.census.gov/data/developers/data-sets/acs-migration-flows.html.

The API covers county-to-county but it looks like a new tract-to-tract dataset is coming later this year/early next year: http://ctpp.transportation.org/Pages/5-Year-Info.aspx

[2018-05-17 22:40] mattwilliamson13 opened #76 "Failure for tract-level estimate from 1990 census"
Hello,
I have been attempting to download median income values for Miami-Dade County, FL (previously Dade County) from the 1990 Decennial Census using:
[code]
This returns the following error:

[code]
I assume this has something to do with the change from Dade County (FIPS 12025) to Miami-Dade County (FIPS 12086); however, attempting to use the new FIPS code also fails. Moreover, if I insert the c

[2018-05-18 01:07] walkerke commented on #76
That's a bug.  I'll put it on my to-do list.

[2018-05-18 14:27] mattwilliamson13 commented on #76
The same thing happens for MT (20) Yellowstone National Park (113).

[2018-05-18 18:11] matt439miller commented on #74
Ah! That clarifies things wonderfully! I am obliged!

Matt Miller <http://www.linkedin.com/pub/matthew-miller/4/392/583/>
PhD Student; Metropolitan Policy, Planning and Design, City and Metro
Planning Department, University of Utah
Graduate Research Assistant, Metropolitan Research Center
Planner, Metro Analytics
millermm@arch.utah.edu
matt439miller@gmail.com

On Fri, May 11, 2018 at 10:37 PM, Kyl

[2018-05-18 21:39] walkerke commented on #76
Thanks, that's helpful!  The issue is that tidycensus validates state/county requests before passing them to the Census API; this is how users can pass county names instead of FIPS codes.  I have some county changes caught in there but not the ones that go back to 1990.

As an FYI it probably won't be until the 2nd week of June that I can put some serious dev time into tidycensus and resolve these

[2018-05-19 20:17] walkerke commented on #74
No problem. Thanks for using the package!

[2018-05-27 18:27] ntdung96 opened #77 "Failed to retrieve some tables from the 5-year ACS 2016"
Hello,

I have been exploring tidycensus lately when I work with the 2016 ACS 5-year data and your package is really nice. What I'm doing is to retrieve block-group level data for Lynchburg city in Virginia for 342 tables; the getCensus successfully retrieved most of them but failed about a dozen of the tables. I got the 400 Bad Request HTTP error.

Thanks,
Dung

[2018-05-29 10:14] walkerke commented on #77
Thank you for the kind words!

`getCensus()` is a function in the censusapi package, not tidycensus.  Would you mind posting the code you tried that failed so I can check it?

[2018-05-29 18:27] ntdung96 commented on #77
So sorry, it must be `get_acs()`. The code to pull data from census goes like this:

`data = vector("list", 342)
for (i in 1:342) {
      data[[i]] = get_acs(geography = "block group", table = table[i],
                          state = "VA", county = "Lynchburg city",
                          geometry = TRUE, keep_geo_vars = TRUE,
                          key = xxx)
}`

Where `table` is the vec

[2018-06-07 21:47] dana-rg commented on #35
First, I love this package!!  Enthusiastically.

I had a similar issue but I don’t think its because of the Census geography limitations. I’m also not sure what is causing @aeonstone’s issue, since that doesn’t appear to be a geography limitation.
I’m running R 3.5.0, tidycensus 0.4.6, tidyverse 1.2.1 on Windows 7.

Here’s my code:

library(tidycensus)
census_api_key("XX")

EducationVariables <-

[2018-06-07 22:06] dana-rg opened #78 "get_acs can"
First, I love this package!! Enthusiastically.

I hava a similar issue to #35 but I don’t think its because of the Census geography limitations. I’m also not sure what is causing @aeonstone’s issue there, since that doesn’t appear to be a geography limitation.
I’m running R 3.5.0, tidycensus 0.4.6, tidyverse 1.2.1 on Windows 7.

Here’s my code:

[code]

And here’s my console:
[code]

However, it w

[2018-06-08 14:04] emoro opened #79 "Problem with county changes"
When running the following code
`age <- get_acs(geography="block group",table="B01001",state="VA",geometry=F,output="wide")`

I get the following error (after a while)
`Getting data from the 2012-2016 5-year ACS
Using FIPS code '51' for state 'VA'
Success No Content Success: (204) No Content
Error in as.character(x) :
  cannot coerce type 'closure' to vector of type 'character'`

I tracked down th

[2018-06-11 14:16] walkerke commented on #78
Thanks for using the package!  I'll look into this.

[2018-06-11 14:18] walkerke commented on #79
I'll get this fixed.  Thanks for filing the issue!

[2018-06-12 04:14] arthurgailes opened #80 "Incorrect Summary Table Values"
Hello,

Thanks very much for this package; it's extremely useful. A small issue:

At least some of the summary variables appear to be mislabled in 2016. The code below:

`get_acs('tract', year = 2016, variable = 'S1701_C01_057', state = '06', output = 'wide') `

returns the value for the column S1701_C01_076.

[2018-06-20 16:14] mta614 opened #81 "Best way to map entirety of census tracts?"
Hi there,

I'm trying to map the following:

tract_data <- get_acs(geography = "tract",
               variables = c("B03002_001",
                             "B03002_003",
                             "B03002_004",
                             "B03002_012"),
               state = state_abbr,
               geometry = TRUE,
               cb = FALSE,
               output = "wide")

Where state_

[2018-06-27 17:20] walkerke commented on #81
Your issue here is with mapview rather than tidycensus.  Leaflet (upon which mapview is built) isn't equipped to map all 70,000+ Census tracts at once.  I believe Leaflet maxes out at 20-30k polygons or so, and performance will be slow at that level.

If you _need_ to create a map of all 70k Census tracts, I'd recommend uploading your data to Mapbox Studio (https://www.mapbox.com/studio/) and conv

[2018-06-27 17:20] #81 closed

[2018-06-27 20:40] mta614 commented on #81
Thanks Kyle! Those are great suggestions, especially the warning about
illegibility. Looks like I may have to revert to my original idea for this
project, which is to examine tracts in a particular algorithmic fashion and
roll up those results to counties and then visualize those.

On Wed, Jun 27, 2018 at 1:20 PM, Kyle Walker <notifications@github.com>
wrote:

--
"What appears to be coming at you

[2018-06-29 20:54] wikge commented on #79
Thanks, @walkerke. This is a fantastic package.

@emoro, thanks for the suggestion to amend the fips_codes dataset. I made a new function from get_acs and added this to the beginning [based on other county name changes](https://www.census.gov/geo/reference/county-changes.html).
[code]
Then I added it to the tidycensus environment: `environment(get_acs_wg) <- asNamespace('tidycensus')`

This allowe

[2018-07-03 15:31] ylleketep opened #82 ""Geometry for school district (unified) is not yet supported. Use the tigris package and join as normal instead.""

[2018-07-03 16:13] walkerke commented on #82
Is this a feature request?

[2018-07-03 16:14] walkerke commented on #80
Thanks for filing - I'm hoping to work on issues this month.  I'll look into this.

[2018-07-09 20:31] ajjitn commented on #79
To add to this, there seem to be three counties that have had [changes ](https://www.census.gov/geo/reference/county-changes.html)that make the `get_acs` function return a `204` error.

1) Bedford City, VA (51115)
2) Shannon County, SD (46113)
3) Wade Hampton Census Area (02270)

Shannon County has changed its name to Oglala Lakota County, Wade Hampton Census Area has changed its name to Kulsivak

[2018-07-09 23:51] walkerke commented on #79
Good observation @ajjitn.  I'm planning to generate a modified fips_codes dataset that has year-specific codes when applicable.  A query will then check the query year and use the appropriate lookup.

I'm planning to put some dev time into tidycensus this week and next; I'll hopefully resolve this soon.

[2018-07-11 12:47] #72 closed

[2018-07-11 12:48] walkerke commented on #72
I've fixed this in https://github.com/walkerke/tidycensus/commit/0255325674048dfc2666c5f031202f07c1443a32:

[code]

[2018-07-11 13:07] #70 closed

[2018-07-11 13:15] #73 closed

[2018-07-11 13:43] #77 closed

[2018-07-11 13:43] walkerke commented on #77
It appears that all of those variables do not have associated margins of error; tidycensus was trying to request margins of error for those variables and failing.  This should now be fixed; I've tested on your example but let me know if you have any issues.

[2018-07-11 13:49] walkerke commented on #80
I'm not showing `S1701_C01_076` as a valid variable in the ACS subject tables.  When I run your code, I get:

[code]

Closing this though let me know if you are getting different output.

[2018-07-11 13:49] #80 closed

[2018-07-11 13:52] walkerke commented on #82
Closing due to lack of response.  For others who encounter this issue: you can get unified school district geometry for a state with:

[code]

Then use sf/dplyr to join to tidycensus data.  Geometry support for less common geographies is a relatively low development priority of mine, though I would welcome a pull request for this.

[2018-07-11 13:52] #82 closed

[2018-07-11 13:52] #65 closed

[2018-07-11 15:00] walkerke commented on #78
The following code now works:

[code]

When tidycensus requests geometry for a given geography, it uses the tigris package to grab the appropriate Census shapefile for the requested year to create the simple feature geometry.  However, the Census Bureau did not make a ZCTA shapefile for 2011, which was causing the error.  tidycensus now uses the 2010 ZCTA file.

Regarding your earlier questions -

[2018-07-13 10:30] walkerke commented on #59
Working on this now in https://github.com/walkerke/tidycensus/tree/estimates.  I've decided not to incorporate the Economic Census into tidycensus at this time.

[2018-07-13 10:30] #59 closed

[2018-07-13 10:53] walkerke commented on #58
@bbrewington this is now supported in the estimates branch of the dev version of the package.  I'll merge to master once the API is stable.  If you install from that branch, this code works:

[code]

[2018-07-13 11:06] walkerke opened #83 "Version 1.0 roadmap"
I'm of the mindset that tidycensus is starting to mature as a package.  The intention of the package __is__ to provide access to data on characteristics of the US _population_ in a tidy format, facilitating integration with the tidyverse and sf.  It __is not__ intended to be a wrapper for all of the Census APIs, as the censusapi package already does that.

As such I'm seeing a stable 1.0 release o

[2018-07-13 11:31] walkerke commented on #75
Closing as this will be addressed in https://github.com/walkerke/tidycensus/issues/83.

[2018-07-13 11:31] #75 closed

[2018-07-14 18:11] tiernanmartin commented on #83
I'm excited to hear that a DataCamp course is on the horizon.

Have you given any thought to the best way to enable `tidycensus` users to perform [longitudinal analyses at the census tract level](https://community.rstudio.com/t/tidycensus-applied-longitudinally/5034?u=tiernan)?

[2018-07-16 18:40] tiernanmartin commented on #83
I was hesitant to suggest it because I know you've been working hard to keep `tidycensus` focused on the Census API. Glad to hear you're already tracking this as a potential use case!

I'm just starting a project that will pull census tract data with `tidycensus` and normalize 2000 tracts to the 2010 boundaries using the Longitudinal Tract Database crosswalk files. As I proceed I'll see if I can c

[2018-07-17 22:49] MaxGhenis opened #84 "Suggest rather than import sf package"
`tidycensus` is awesome, but took me a ton of time to figure out how to install it due to its `sf` dependency. I tried all the recommendations from various Stackoverflow answers, but these ended up messing up my `conda` environment.

I think I'm set now but I wonder if enough people would be OK using `tidycensus` without the mapping functionality that it would be OK to suggest `sf` instead, given

[2018-07-18 17:10] walkerke commented on #84
Does the conda availability solve your problem then?  I'm disinclined to remove the sf dependency as I see the spatial component as a core function of the package.  If you need a Census package that does not depend on sf, the censusapi and acs packages may meet your needs.

[2018-07-18 17:21] MaxGhenis commented on #84
Yes, conda availability solved it, though I had to wipe my machine. Including it in installation instructions alongside `install.packages` might save others some difficulty.

Makes sense that spatial is core, and thanks for the info on `censusapi` and `acs`.

[2018-07-18 17:21] #84 closed

[2018-07-18 19:56] MaxGhenis opened #85 ""error setting certificate verify locations" from conda get_decennial()"
Minimal example:

[code]

Produces this error:

[code]

[2018-07-18 19:58] MaxGhenis commented on #85
Per [this post](https://social.technet.microsoft.com/Forums/ie/en-US/aec2c852-109a-4fc3-95f9-6fe61e779adf/rvest-readhtml-function-does-not-work?forum=ropen) this resolves it:

[code]
At this point the `get_decennial` command succeeds. A future MRO release should make this unnecessary.

[2018-07-18 19:58] #85 closed

[2018-07-19 22:30] tiernanmartin opened #86 "Add na.rm argument to moe_sum()"
Please consider adding a `na.rm` argument to `moe_sum()`.

The `NA`s are the result of the `gather() %>% spread()` combination that left me with something like this:

[code]

The next step I'd like to perform is something like
[code]

 Unfortunately, the presence of `NA`s in `dat$NUMERATOR_MOE ` prevents `moe_sum()` from returning meaningful values.

If all this psuedo-code is too unclear I can wh

[2018-07-19 22:31] MaxGhenis opened #87 "Duplicate NAME and GEOID when calling get_acs(output="wide")"
When passing a vector of columns to `get_acs` and requesting wide format, the result includes both `NAME` and `NAME1`, and `GEOID` and `GEOID1`. This doesn't happen with individual variables, or with just one or two, so I'm pasting my full reproducible code, which is probably not minimal. Looking through the `get_acs` code I couldn't readily find what's causing the issue.

[code]

And code showing

[2018-07-20 14:14] #86 closed

[2018-07-20 14:16] walkerke commented on #87
Thanks for filing!  I'll get this taken care of.  This happens because the Census API limits requests to 25 variables at a time and I have internal logic in tidycensus to request as many variables as you want by calling the API an appropriate number of times.  However it looks like I just missed this, so thanks for keeping an eye out!

[2018-07-20 15:00] berdaniera opened #89 "Interest in LODES?"
Thank you for making tidycensus! We are using it at TransLoc to explore demographic patterns in public transit usage. We have also found value in the [LODES](https://lehd.ces.census.gov/data/) data for commute origin-destination patterns as a complement to the ACS data.

@angela-li and I have been working on a function `get_lodes` (based on [hrbrmstr/lodes](https://github.com/hrbrmstr/lodes)) that

[2018-07-20 16:01] walkerke commented on #89
Thanks for your note!  Pinging here @jamgreen as he's been working on an LEHD/LODES package as well at https://github.com/jamgreen/lehdr and has been incorporating other economic data functions from the Census Bureau.

I appreciate the pull request offer!  However I think this is outside the package scope, as I've decided to keep the focus for this package on population characteristics - which wil

[2018-07-20 16:24] berdaniera commented on #89
Sure that sounds good, I get the focus on the population aspects. 👍

I didn't know about lehdr, so thanks for sharing that! Definitely don't need to duplicate work there and I'm excited to check out @jamgreen's work :)

[2018-07-20 16:24] #89 closed

[2018-07-20 16:47] jamgreen commented on #89
Please let me know if lehdr is able to do what you need it to @berdaniera. We're hoping to submit to CRAN this summer so having folks who are doing some more heavy lifting with it would be great.

[2018-07-26 16:31] walkerke opened #90 "Upcoming ACS API format changes"
From the Census Bureau:

[2018-07-26 16:32] walkerke opened #91 "Upcoming decennial Census API changes"

[2018-07-31 11:15] walkerke commented on #91
The endpoints are addressed in https://github.com/walkerke/tidycensus/commit/1b707e9e3ea6bb0e5ff082c470b55e1a60095902; `load_variables()` will need to be refreshed for decennial Census variable pulls

[2018-07-31 11:27] walkerke commented on #91
The problem is that https://api.census.gov/data/2010/sf1/variables.html has not been updated and these variable IDs no longer work.  Without a reference table from the Census Bureau there's not much I can do aside from plug in an error message.

[2018-07-31 19:15] #90 closed

[2018-07-31 19:35] #87 closed

[2018-08-02 10:25] walkerke opened #93 "Enable time-series functionality in `get_estimates()`"
The Population Estimates APIs have time-series functionality built in (either with a DATE or PERIOD variable).  However, I don't currently have this enabled in `get_estimates()`.  I should create a time-series parameter to allow users to get estimates for all or part of the time series - it goes back to 2010.

Reference: https://www.census.gov/data/developers/data-sets/popest-popproj/popest/popest

[2018-08-02 21:10] walkerke opened #94 "Problem with multi-county block groups when variables are stored in a vector"
This fails:

[code]

But this works:

[code]

Fixing this will require a re-factoring of how I handle multi-county block group calls.

[2018-08-03 19:17] MaxGhenis opened #95 "conda installation with other packages breaks due to mixing R 3.4.3 and 3.5.0"
When creating a minimal conda environment for using tidycensus with Jupyter, tidycensus gets installed on R 3.4.3 while R 3.5.0 is the actual version of R installed, causing the library to break.

Install in clean environment:
[code]

Check package versions:

[code]

Load in R:

[code]

I don't think there's anything to be done on the tidycensus side, as this is an issue with conda packaging as re

[2018-08-03 19:22] msarahan commented on #95
Yes, this is a packaging issue.  I recommend closing this issue here, as it has nothing to do with tidycensus.

``conda install mro-base=3.4.3``

This should not be installable with mro-base 3.5.0, though.

[2018-08-03 19:26] MaxGhenis commented on #95
That was easy, thanks @msarahan!

[2018-08-03 19:26] #95 closed

[2018-08-07 13:33] sbatia opened #96 "Errors with 2000 decennial census"
I’m having issues with 2000 decennial census data for some variables. This was working a few weeks ago and has not been changed since then. I am working with data from Mecklenburg County, NC. *The 2010 and 2016 ACS data still works fine. Here is a small subset of the code and the error it is now throwing:

#code
#reading needed packages
`library(tidycensus)` ##functions:  get_acs, get_decennial
`l

[2018-08-07 20:50] camille-s commented on #96
I'm having a similar error with `get_decennial` if I call it for county subdivisions supplying the state but not county. It seems like something new (maybe related to fixes for the API endpoint change?), because I noticed it while using a wrapper function I wrote around `get_decennial` which I could have sworn worked last week or so. It also doesn't match the fact that 1) I can get smaller geograp

[2018-08-09 19:47] NikKrieger commented on #71
I've spent the better part of the day learning this the hard way while developing my sociome package. Glad I saw this thread.

[2018-08-12 14:41] loganpowell commented on #91
Sorry for the confusion on this. It is hard when the organization makes these kinds of changes and we very much appreciate the work of library builders. You can find the new variable ids at the new endpoint here: https://api.census.gov/data/2010/dec/sf1/variables.html

[2018-08-12 14:46] bbrewington commented on #91
Looks like this R filr needs to be updated with the link that Logan provided: https://github.com/walkerke/tidycensus/blob/master/R/search_variables.R

I wonder if there are other similar variable list links that need updated?

[2018-08-13 19:02] arvi1000 opened #97 "in readme: is github version of ggplot2 still required?"
The readme states:
``# Requires the installation of the GitHub version and ggplot2``

...but I think that may no longer be true, since v3 is on CRAN now (as of July). If so, I suggest removing the comment block at the top of the first example. It may lower the barrier to test driving this excellent package!

This is the comment block I mean:
[code]

[2018-08-16 11:10] purdiea opened #98 "Cannot install tidycensus package without first installing rgdal package"
I attempted to install the tidycensus package but received the following error.  To solve it, I ran `install.packages('rgdal')` first and then was able to install `tidycensus`.  Can you add `rgdal` to the dependencies when downloading `tidycensus` to avoid this issue in the future?

[code]

[2018-08-17 02:28] walkerke commented on #98
rgdal should get picked up by tigris when tidycensus installs as it is a dependency of that package.  What operating system are you on?

[2018-08-17 02:28] walkerke commented on #97
it is no longer required, good suggestion!

[2018-08-18 11:28] walkerke commented on #96
I just checked your example and it runs fine for me.  Perhaps there was an issue with the Census API at that particular moment?  Please try again and re-open if you are experiencing the same issue.

[2018-08-18 11:28] #96 closed

[2018-08-18 11:34] walkerke commented on #91
This is now fixed in https://github.com/walkerke/tidycensus/commit/0a987f86f40580f8313e31e51b732eb3962be57c.

[2018-08-18 11:34] #91 closed

[2018-08-18 11:37] #97 closed

[2018-08-18 17:09] bbrewington commented on #71
Looks like there are variables and geographies listed here: https://api.census.gov/data.html

Give that a look, and if that doesn't provide the necessary info, let's ping Logan Powell for help.

[2018-08-20 17:35] plnnr commented on #94
I think I have a similar problem with states and counties, but not variables. I made a function that returns the median household income by race for the year 2000. I set default parameters equal to vectors. The function fails when vectors are specified, but the function works if only a single state or single county is passed. The Gist file is here. https://gist.github.com/plnnr/8a218345425c13a4707

[2018-08-20 18:34] walkerke commented on #94
@plnnr thanks for this, I'll take a look.  I think this will need an internal refactor to solve both of these but I think that's due.

[2018-08-20 18:47] walkerke commented on #83
Updating this - I'll need to send to CRAN this week before reaching 1.0 to account for changes in the Census API endpoint.   This CRAN release will have Population Estimates API support but will not have support yet for the Flows API.

[2018-08-20 19:32] plnnr commented on #94
I also notice though that even the get_acs() function doesn't seem to handle a year that is coded as a variable. I made another Gist code here (https://gist.github.com/plnnr/d6809b5d2c9ee42401da26fe1ecfb2ec) that _should_ work, but it fails saying that the object specified in the function call ("acs_year") can't be found. Even when I hard-code it within the function, it doesn't recognize the objec

[2018-08-21 13:48] #93 closed

[2018-08-21 18:22] plnnr opened #99 "Bad request for get_acs()"
Perhaps this is related to the API endpoint changes, but these two code chunks vary only by the `year` variable. The 2016 and 2015 ACS pull works, but the 2010 (and also 2014) does not.

Works:

    hhincome <- get_acs(geography = 'tract', table = 'B19001',
                        state = "OR", survey = 'acs5',
                        year = 2016, output = 'wide')
Does not work:

    hhincome <- g

[2018-08-21 20:58] plnnr commented on #99
When I revert to the release version (0.4.6) it resolves the issue.

[2018-08-22 00:55] walkerke commented on #99
Hmm - I do note that your code works for 2010 and 2014 when geography is `"county"`.  I'll investigate.

[2018-08-22 02:52] walkerke commented on #99
I'm getting the sense that this is due to the Census Bureau making changes to how data are available.  For example:

[code]
works with the development version, which uses the new endpoints.  This suggests that 2006-2010 data for tracts is only available by county for the new endpoint.

[2018-08-22 03:01] walkerke commented on #99
This is confirmed examining the API.  For example, https://api.census.gov/data/2015/acs/acs5?get=NAME,B01001_001E&for=tract:*&in=state:01 works, but https://api.census.gov/data/2014/acs/acs5?get=NAME,B01001_001E&for=tract:*&in=state:01 returns `error: unknown/unsupported geography heirarchy`.

I can fix this by stitching together tract data by county for a given state like I do for block groups.

[2018-08-22 10:38] walkerke commented on #94
Any chance you could provide a minimal reproducible example (https://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example)?  That'll help me debug.  In my preliminary testing I'm not noticing problems with states/counties/years as variables.

[2018-08-22 18:10] plnnr commented on #94
@walkerke Here is a more clear example with better comments:
https://gist.github.com/plnnr/1af71d9b7b290f93bb8612710a6d12dd

[2018-08-27 02:02] #98 closed

[2018-08-27 02:28] walkerke commented on #71
I've reached a semi-resolution to this in https://github.com/walkerke/tidycensus/commit/cb7f542f344a6e329a44898951c57ab12e268783.  Errors now return the Census error messages rather than vague R error messages.  I think I can iterate and improve on this in the future but this is enough to close the issue.

For example:

[code]

[2018-08-27 02:28] #71 closed

[2018-08-27 02:44] #79 closed

[2018-08-27 02:45] walkerke commented on #79
I'm now using tigris to get an appropriate vector of counties for a given ACS yearly request, which solves this problem.

[2018-08-27 02:51] walkerke commented on #99
This is (temporarily) fixed as of https://github.com/walkerke/tidycensus/commit/cff7a92bd8ad8705316eb9c9e134ec88bf551fd0.  I iterate through all counties in the state and pull tract data for them, then stitch them together.   It is (much) slower but it is a solution that'll work if we no longer can pull all tracts for a state for those years.

[2018-08-27 02:51] #99 closed

[2018-08-27 11:52] loganpowell commented on #99
Sorry for the delayed response. Thank you for bringing the
tracts-at-state-level issue to my attention and for emailing
cnmp.developers.list@census.gov. The API development team is discussing how
to best address this issue and will be returning to let me know. Stay tuned.

On Sun, Aug 26, 2018 at 10:51 PM, Kyle Walker <notifications@github.com>
wrote:

[2018-08-27 13:10] walkerke commented on #99
Thanks @loganpowell!

[2018-08-29 17:41] plnnr opened #100 "Not available at requested geography error"
This fails:

    pop_by_race_10 <- get_decennial(geography = "tract",
                                variables = 'P0090002',
                                year = 2010, sumfile = "sf1", state = "41",
                                county = "051",
                                summary_var = 'P0090001',
                                geometry = T)
With this error message:

    Error : One or m

[2018-08-29 17:47] plnnr commented on #100
Also chyeah boi, I submitted issue #100!

[2018-08-29 21:42] walkerke commented on #100
The Census Bureau changed variable IDs for many variables in the 2010 decennial Census, usually removing extra 0s (see #91 ).  This makes your code fail (though it would have worked with the old endpoint).  The code below works, however, with the latest version of tidycensus (0.8.1):

[code]

[2018-08-29 21:42] #100 closed

[2018-08-30 15:03] loganpowell commented on #99
So, the team has met and would like you guys to know that we are undergoing technology changes, which - by default - is causing the issues you (and others) are having with the county wildcard, but when the transition to the new stack is complete, we will be patching it to avail the same wildcard functionality to make it as seamless for you as possible, however the patch will take about a month, bu

[2018-08-31 18:43] jlegewie opened #101 "Feature request: Support wildcards to get entire census table (e.g. "P012*" get all 400+ variables in the "Sex by age" table)"
I think this would be a great addition. Instead of doing

[code]
users could just do
[code]
to get all variables that start with P012 (in this case, the entire sex by age table.

[2018-08-31 19:41] walkerke commented on #101
This is already supported with the `table` parameter:

[code]

[2018-08-31 19:41] #101 closed

[2018-08-31 19:46] walkerke commented on #101
I do separate out the sub-tables for `P012` by race/ethnicity.  So if you want age by white alone, for example, you'd need to ask for the table `P012A`.

[2018-09-03 02:46] cryerger opened #102 "Problem with finding variable names in 2010 Census"
I am having an issue with variable name recognition for the 2010 census.  This works for 2000:

m80 <- get_decennial(geography = "state", variables = "P001001", year = 2000)

but a similar-looking line does not work for 2010:

m80 <- get_decennial(geography = "state", variables = "P001001", year = 2010).

I searched for this variable and found it (had not changed) using
v15 <- load_variables(2010,

[2018-09-03 03:13] walkerke commented on #102
@cryerger the new Census API endpoints all appear to be down right now, you aren't doing anything wrong.  I know the team at the Census Bureau has been rolling out a lot of changes which might explain it.  If you need 2010 data urgently it appears that the old endpoint is still working, so you could use the censusapi package or use `devtools::install_version()` to grab an older version of tidycens

[2018-09-03 10:30] cryerger commented on #102
Thank you for this update - I am teaching a college class where we planned to use this data (and previous versions of the course were built upon this 2010 data).  Would you be able to say a bit more about how to use this older version or the censusapi package or point me in the right direction for resources?  I want to make sure that whatever solution I present to my students is stable.

Thank you

[2018-09-03 13:33] walkerke commented on #102
I sent a note to Census about the status of these endpoints - hopefully they'll be back up soon.  If you want to use the old endpoints (which are still up, and working) you can install tidycensus 0.4.6 with `devtools::install_version("tidycensus", version = "0.4.6", repos = "http://cran.us.r-project.org")`.

Documentation for the censusapi package is here: https://hrecht.github.io/censusapi/.  You

[2018-09-04 13:31] walkerke commented on #102
@cryerger I just heard back from the Census Bureau and they've fixed the API issue so your code will work as expected with the latest version of tidycensus (0.8.1); I've just checked and can confirm this.

[2018-09-04 13:31] #102 closed

[2018-09-10 18:05] arilamstein opened #104 "Error when trying to get subject table"
I am attempting to use Tidycensus to get income information for Michigan ZCTAs using table S1902.

I am getting an error that I don't understand:
[code]

At first I thought that the error might be with trying to use a subject table (IIRC the acs package only gets detailed tables). But the output leads me to believe that the tidycensus package can indeed work with subject tables.

Can you advise?

[2018-09-10 18:49] mfherman commented on #104
I'm pretty sure the issue here is that ZCTAs are not subgeographies of states and so the Census API can't return ZCTAs for a given state. See here for Census geographic hierarchy: https://www2.census.gov/geo/pdfs/reference/geodiagram.pdf This makes sense because some ZCTAs cross state boundaries.

You can get all ZCTAs in the US with tidycensus:

[code]

And then you could filter by ZCTA to get th

[2018-09-10 18:52] walkerke commented on #104
Thanks @mfherman!  Also I don't have the `table` parameter enabled for Subject Tables so a specific variable ID (or vector of IDs) is required as you show - though I could incorporate this.

tidycensus 0.8.1 is now returning the error messages returned by the Census API, which tend to be general but better than the httr 400 error.

[2018-09-10 21:11] arilamstein commented on #104
Thanks for the help everyone.

The issue with requesting ZCTAs in a state makes sense to me. The choroplethrZip package has a data object (`zip.regions`) which lists the various states and counties a ZCTA lies in. So I can always subset the results after I get them.

I am a bit less clear on the `table` vs. `variable` distinction. My client is interested in all the data in table `S1902`. From the

[2018-09-11 11:59] mfherman commented on #104
Currently, you can only request an entire detail table using tidycensus (tables beginning with "B").  In the example above, `S1902_C01_001` is the name of the first variables in table  `S1902`. Using `load_variables()` from tidycensus can help to examine the names and details of any given table. I find it easier to search these tables using the RStudio view rather than using American FactFinder.

[2018-09-11 13:59] walkerke commented on #104
thanks again @mfherman!  Yes for now @arilamstein you should use the above example.  I'm working on enabling `table` for subject tables, however, so this should be pushed up to GitHub soon.

[2018-09-11 14:19] walkerke commented on #104
Just pushed in https://github.com/walkerke/tidycensus/commit/6e0c29df86c97a902385d5be1371d0644002b7e7:

[code]

[2018-09-11 14:19] #104 closed

[2018-09-11 17:36] buchmayne opened #105 "Does get_decennial only support the metropolitan statistical area geography for 2010 census?"
I am running into a strange issue where I am getting an unsupported geography error in running `get_decennial()`, `Error : Your API call has errors.  The API message returned is error: unknown/unsupported geography heirarchy.`.

Here is my function call:
`get_decennial(geography = "metropolitan statistical area/micropolitan statistical area", variable = "H013001", year = 2000)`

What is puzzling i

[2018-09-11 23:09] arilamstein opened #106 "Issues with calling get_acs on subject tables"
Calling `get_acs` for a subject table with `cache_table=TRUE` leads to surprising output:

[code]

I have run this exact query a few times. Three things I notice are:

1. The output ("...and caching the dataset for faster future access.") makes it sound like it is not reading from a cache. However, the command sets `cache_table=TRUE`, and I have run the exact same command multiple times.

2. The c

[2018-09-12 09:42] walkerke commented on #106
Hi @arilamstein -

To get tables to work, tidycensus uses variable lookup tables (the same ones obtained with `load_variables()` to determine which variables are within which table (e.g. S1902).  By default, the lookup tables are fetched from the Census website, as they are too large to include with the package; the option `cache_table` caches the lookup dataset to make table lookup faster in the

[2018-09-12 09:50] walkerke commented on #105
Hi @buchmayne - thanks for the kind words!

Your issue title is correct - metro/micro areas are not supported in the 2000 decennial API, unfortunately.   Supported geographies in the API are here: https://api.census.gov/data/2000/sf1/geography.html, and tidycensus can't do blocks or block groups either for 2000 as they are only available by Census tract, which would be quite slow for most queries.

[2018-09-12 09:50] #105 closed

[2018-09-12 18:46] arvi1000 opened #107 "get_acs error: "object of type 'closure' is not subsettable""
Hello. First of all, thank you for this fabulous package.

I'm seeing a weird error when passing a subset of a vector to the `variables` argument of `get_acs()`. I can try to look into the source later on, but filing this now.

[code]

Here's my `sessionInfo()`

[code]

[2018-09-12 18:59] walkerke commented on #107
I'm fairly sure this is related to https://github.com/walkerke/tidycensus/issues/94.  I'll need to refactor some of the internals to get this working.

In the meantime, you can do:

[code]

Or in your case, use the `table` parameter:

[code]

[2018-09-12 19:06] arvi1000 commented on #107
Using `table` is perfect for my current purposes - thanks.

[2018-09-12 22:15] arilamstein commented on #106
Got it. I do think that part of the performance issue I encountered was connection related. While the code takes 4.5 minutes to execute at my office, it only takes ~1.5 minutes to execute at home.

[2018-09-12 22:31] arilamstein opened #108 "Tidy data for subject tables"
It seems to me that `tidycensus` might not be returning "tidy" data for subject tables. I might be wrong / misunderstanding what tidy data means or the goals of the package (i.e. maybe the package doesn't aspire to return data in a tidy format), but I thought to mention it here.

Consider this code and its output:
[code]

Here is the resource I am using to understand what "tidy" data means: https:

[2018-09-13 13:17] walkerke commented on #108
Hi @arilamstein -

What you are describing is what I consider wide-form ACS data, which you can get from tidycensus functions with `output = "wide"`.  For example:

[code]

The long-form data returned by default by tidycensus is designed to work better with tidyverse tools (e.g. `group_by() %>% summarize()` would be the analogy to your example).  In the tidy model I use in tidycensus, the finest u

[2018-09-13 13:55] Babakjfard opened #109 "get_acs creates a long progress bar in rendered html"
Thank you vey much for your great work. Very helpful. I have an issue with get_acs. as the title says the rendered html page from my R-Markdown creates a large progress bar. I have tried these options, non working:
`options(get_acs.show_progress = FALSE)
options(readr.show_progress = FALSE)`

also, have used `message=FALSE`, and `warning=FALSE` in the header of the chunk.  No results. [here is a l

[2018-09-13 19:32] walkerke commented on #109
There are two ways to do this.  One: use shapefile caching with `options(tigris_use_cache = TRUE)`; this will read in the geometry from a cache instead of downloading after the first time you download it.

The other: use `results = "hide"` in your code chunk definition.  E.g.:

[code]

[2018-09-13 19:32] #109 closed

[2018-09-13 19:33] walkerke commented on #107
Closing as I'll be handling this in https://github.com/walkerke/tidycensus/issues/94.

[2018-09-13 19:33] #107 closed

[2018-09-17 02:30] #108 closed

[2018-09-18 22:28] arilamstein opened #110 "Confirming how tidycensus handles special symbols."
I recently downloaded ACS data from American Fact Finder and was surprised by the number of special symbols in the CSV file:

[code]

Can you please confirm how `tidycensus` handles each of these special symbols? Are they all just converted to `NA`?

[2018-09-19 10:53] walkerke commented on #110
I'd be interested in having some discussion about this.  The API returns large negative integers (e.g. -555555555) that correspond to these cases.  I've been converting all of these to NA (see https://github.com/walkerke/tidycensus/issues/29) but it would be worthwhile to consider handling these on a case-by-case basis.

The mapping of values is discussed here: https://www.census.gov/data/develope

[2018-09-20 14:47] ummel opened #111 "Package option to suppress console output"
Be default, get_acs() and similar functions report messages and progress bar to console. For example:

It would be nice to have a package option to suppress console output. As is, putting get_acs(), etc. in a wrapper function causes the user's own messages to be swamped by get_acs().

[2018-09-21 17:31] arilamstein opened #112 "Error fetching B11016 (and possibly all B tables?)"
When I try to fetch table [B11016](https://factfinder.census.gov/bkmk/table/1.0/en/ACS/15_5YR/B11016/0500000US48015) with `get_acs` I get an error:

[code]

In fact, I have a list of 11 B tables that I am trying to get, and I get the same error when I try to fetch any of them.

At first I thought that I might have incorrect syntax. But the above code works just fine when I give it a subject table.

[2018-09-21 17:36] walkerke commented on #112
Hey Ari - that's a bug I fixed in https://github.com/walkerke/tidycensus/commit/0589270a04bc9163d30cec4d6b56e0a64f47d3d1.  Re-install from GitHub and it should work.

[2018-09-21 17:36] #112 closed

[2018-09-21 17:37] arilamstein commented on #112
Thank you!

[2018-09-24 20:02] tk2125 opened #114 "API Key error"
Using get_acs to get census tract data and getting the following error:

Error: Your API call has errors.  The API message returned is There was an error while running your query.  We've logged the error and we'll correct it ASAP.  Sorry for the inconvenience..

[2018-09-25 00:36] walkerke commented on #114
Sounds like it was an API hiccup given the message (that's the Census Bureau's message).

That said - when you file an issue please provide a minimal reproducible example that the developer can test (e.g. https://robjhyndman.com/hyndsight/minimal-reproducible-examples/).  If you only post an error message without the code that generated the error, it's not possible for the developer to debug it.

[2018-09-25 00:36] #114 closed

[2018-09-26 20:03] jlegewie opened #115 "Problem with PCT variable"
Hi,

I am not sure whether this is an issue or whether I am doing something wrong. 'PCT' are population tables that cover geographies to the census tract level. They don't show up in `load_variables` but I can pull them with `get_decennial`. Here is an example:

[code]

The census API also shows the PCT variables/tables at
https://api.census.gov/data/2010/sf1/variables.html

[2018-09-26 20:39] jlegewie commented on #115
Great. Note that there are also HCT tables and some others that I never used. Here is a full list of the different table types (PL is probably irrelevant):

- 'P' are population tables
- 'H' are housing tables
- 'PCT' are population tables that cover geographies to the census tract level
- 'HCT' are housing tables that cover geographies to the census tract level
- 'PCO' are population tables that

[2018-09-27 10:19] walkerke commented on #115
Just pushed a quick fix.  Note that if you are using caching for the variables datasets you'll need to go in and manually delete the old one; you can find the location at `rappdirs::user_cache_dir("tidycensus")`.  I'll probably put in some logic to overwrite existing datasets without those variables before the next CRAN release.

[2018-09-27 17:47] coreysparks opened #116 "Demographic profile tables for ZCTA"
I'm doing the following query to get demographic profile tables for Zip code tabulation areas:
`
acs<-get_acs(geography = "zcta", year = 2014,
                variables=c( "DP05_0001E", "DP03_0009P", "DP03_0062E", "DP03_0119PE") ,
                geometry = F, output = "wide")
`

And getting the error:
`
Getting data from the 2010-2014 5-year ACS
Using the ACS Data Profile
Error: Your API call has

[2018-09-27 17:56] coreysparks commented on #111
Are you using R markdown? If you are, then in the beginning of your code chunk, you can put ` ```{r, results='hide']}`

` ```{r, results='hide']}

get_acs(geography = "tract", variables = "B19013_001", state = "TX", county = "Tarrant", geometry = TRUE)

``` `

and you won't see the progress bar in the output

[2018-09-27 18:41] coreysparks commented on #116
as a note, I can get what I need from `censusapi`

`
zcsdat<-getCensus(
  name = "acs5/profile",
  vars = c("DP05_0001E", "DP03_0009P", "DP03_0062E", "DP03_0119PE"),
  region = "zip code tabulation area:*",
  vintage = 2013,
  key = "mykey"
)
`

so it's possible

[2018-09-27 19:15] walkerke commented on #116
@coreysparks thanks for filing.  It's an issue with the new ACS API endpoints; you are using the old endpoint (which is working) but the new endpoint (which I've written into tidycensus) is not working for ZCTAs prior to 2015.  I'll need to ping Census about this but in the meantime using censusapi is a good idea.

[2018-09-30 22:46] TGSwartz opened #117 "lexical error"
First off, thank you for making this awesome package.

I am trying to download data but I am getting lexical errors for every call I make.

The commands

`library(tidyverse)
library(tidycensus)

texas_pop <- get_acs(geography = "county",
                     variables = "B01001m11",
                     state = "TX",
                     geometry = TRUE,
                     survey="asc5")`

retur

[2018-10-01 09:51] walkerke commented on #117
Thanks for using the package!  There are a few issues with your code.

1. You've set `survey = "asc5"`: it should be `"acs5"`.  This is the default in `get_acs()` as well, so it doesn't need to be supplied explicitly.
2. Update tidycensus to the latest version; you'll get a better error message that will give you another hint.  It'd read `Error: One or more of your requested variables is likely no

[2018-10-01 09:51] #117 closed

[2018-10-02 02:40] TGSwartz commented on #117
Thanks for the quick response.

I am actually still getting the same error with the command that you sent.

I still get
`Getting data from the 2012-2016 5-year ACS
Downloading feature geometry from the Census website.  To cache shapefiles for use in future sessions, set `options(tigris_use_cache = TRUE)`.
Using FIPS code '48' for state 'TX'
No encoding supplied: defaulting to UTF-8.
Error: lexical

[2018-10-02 05:32] alexisrsantos commented on #117
Hello Kyle, I am also getting the same error running (copy/paste) your code in my RStudio.

[2018-10-02 09:12] walkerke commented on #117
I cannot reproduce this error and I've tested on both Windows and Ubuntu.  Could either of you share the results of your `sessionInfo()`?

[2018-10-02 13:58] TGSwartz commented on #117
Of course. Here it is.

`R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: OS X El Capitan 10.11.6

Matrix products: default
BLAS: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/libRblas.0.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.U

[2018-10-03 06:13] alexisrsantos commented on #117
Hello Kyle,

I went old school and reinstalled RStudio and downloaded all the libraries again. Now it works, I think it has to do with an outdated library that is not working in combination to tidycensus.

It works perfectly now.

Alexis

[2018-10-03 10:47] walkerke commented on #117
@alexisrsantos great to hear!  @TGSwartz could you run `update.packages()` and then try again?

[2018-10-03 14:13] TGSwartz commented on #117
I had tried that before but I'll give it a go again and play some package bingo until I get it. @alexisrsantos, could you possibly post your `sessingInfo()` so I could see what versions worked for you please?

[2018-10-03 17:08] arilamstein opened #118 "Error Getting table DP03"
I am trying to use `tidycensus` to get [DP03 (SELECTED ECONOMIC CHARACTERISTICS)](https://factfinder.census.gov/bkmk/table/1.0/en/ACS/15_5YR/DP03/0100000US).

`tidycensus` let's me load the variables like this:
[code]

However, `get_acs` does not allow me to actually fetch the data:

[code]

All this leads me to believe that it is possible to get the data somehow. But the documentation does not ex

[2018-10-03 17:39] arilamstein opened #119 "Cannot get variables for GCT2701"
I am trying to use `tidycensus` to get county data for [GCT2701 PERCENT WITHOUT HEALTH INSURANCE COVERAGE](https://factfinder.census.gov/bkmk/table/1.0/en/ACS/16_5YR/GCT2701.ST05/0400000US26) but can get neither the variables nor the data.

Here is how I attempted to get the variable names:
[code]

Here is how I am attempting to get the data:
[code]

Does `tidycensus` support working with the GCT

[2018-10-03 17:53] walkerke commented on #119
I don't see geographic comparison tables in the API though perhaps I just can't find it.  Perhaps the censusapi package could do it but I'm not seeing those listed as valid variables in the ACS docs.  Might be a question to ask on the Census Slack channel.

[2018-10-03 17:57] arilamstein commented on #119
Thanks for the quick reply Kyle. I just asked there and will update this thread with the answer.

[2018-10-03 19:36] arilamstein commented on #119
I just heard back from Census that they do not currently provide access to GCT tables via the API.

[2018-10-03 19:36] #119 closed

[2018-10-04 18:26] soungl opened #120 "fails to retrieve congressional district level data for 115th Congress"
Hello.

Is there a way to retrieve Decennial Census 2010 data for the 115th Congress? I can only get data for the 111th Congress? See below for my code. Thank you.

vars10 <- c(seasonalHome = "H005006", # vacant for seasonal, recreational, or occasional use
            totalHome = "H001001", # total number of homoes in 2010
            pop2010 = "P001001") # total population in 2010

get_decennial

[2018-10-04 18:38] walkerke commented on #120
You can't get decennial Census data for the 115th Congress; you'd need to use `get_acs()` for that as the decennial data only correspond to the congress that was in session at the time of the count.

[2018-10-04 18:38] #120 closed

[2018-10-04 20:01] arilamstein commented on #118
I just learned that the DP tables are indeed available via the API:

https://api.census.gov/data/2016/acs/acs5/profile.html

@walkerke If tidycensus doesn't currently support getting the DP tables via the API, I can help you write code to add this functionality. But I would need some guidance on where to start.

[2018-10-04 23:30] walkerke commented on #118
Hey Ari - tidycensus supports the Data Profiles, e.g. https://twitter.com/kyle_e_walker/status/1040694011718262784.  I just don't have functionality at the moment to grab every variable from a DP table right now, but it'll be a quick fix when I get a minute.  In the meantime here's a workaround:

[code]

[code]

[2018-10-04 23:32] soungl opened #121 "county subdivision not supported?"
Is "County Subdivision" not supported any more? The code below returns the following error message. Thank you.

Error: Your API call has errors.  The API message returned is error: unknown/unsupported geography heirarchy.

get_acs(geography = "county subdivision",
          variables = c(medianIncome = "B19013_001"),
          year = 2016,
          geometry = FALSE)

[2018-10-04 23:39] walkerke commented on #121
You'll need to specify a state:

[code]

[2018-10-04 23:39] #121 closed

[2018-10-04 23:58] soungl commented on #121
Can we have more than one state? The code below fails.

get_acs(geography = "county subdivision",
        variables = c(medianIncome = "B19013_001"),
        state = c("NH", "ME", "VT", "NY"))

Daniel Lee
Professor of Economics, Data Analyst, Tourism Economist
http://daniellee.netlify.com/
https://www.linkedin.com/in/daniel-lee-data-analyst

    On Thursday, October 4, 2018, 7:39:47 PM EDT, Kyle W

[2018-10-05 00:35] arilamstein commented on #118
Thank you!

On Thu, Oct 4, 2018 at 4:30 PM Kyle Walker <notifications@github.com> wrote:

[2018-10-05 01:06] mfherman commented on #121
I like to make use of the [`map` family](https://purrr.tidyverse.org/reference/map.html) of functions from the `purrr` package for a task like this. Using the formula syntax with `map_dfr()` makes it very concise.

[code]

<sup>Created on 2018-10-04 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-10-05 13:09] soungl commented on #121
Fantastic! Thank you so much.
I tried the same code for get_decennial() and didn't work. It turns out:

   - get_acs() requires only state specified, while
   - get_decennial() requires both state and county specified.

How would you modified your code for get_decennial()?
Thank you so much in advance.

Daniel Lee
Professor of Economics, Data Analyst, Tourism Economist
http://daniellee.netlify.com

[2018-10-05 15:17] alexisrsantos commented on #117
R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C                           LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  g

[2018-10-05 18:30] TGSwartz commented on #117
@alexisrsantos. Great! Thanks for your help.

[2018-10-05 19:31] tbuckl commented on #117
also seeing this error. here's my sessioninfo:

R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS High Sierra 10.13.6

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/libRlapack.dylib

locale:

[2018-10-05 19:40] TGSwartz commented on #117
My sessionInfo seems to be (as far as I can tell) the same as Axelis (all my packages are up-to-date). I wonder if it has to be a problem with Mac?

[2018-10-05 20:06] tbuckl commented on #117
could be the locale?

[2018-10-05 20:46] TGSwartz commented on #117
I was actually able to find out the query response was and it was actually because I hadn't properly activated my census api key. Maybe give that try to make sure it's good.

[2018-10-05 21:39] tbuckl commented on #117
d'oh!

[2018-10-05 23:44] mfherman commented on #121
It appears that the Census API doesn't allow you to call all county subdivision in a given state for the Decennial Census files, while you can for the ACS subject/detail tables. So one approach I came up with is to use the `fips_codes` dataset which is included in `tidycensus` to select all the counties within your requested states. Then you an loop over each of the state/county FIPS code combinat

[2018-10-06 11:50] walkerke commented on #117
Glad you figured this out!  I'll try to trigger the error myself so I can capture it in tidycensus before the next release.

[2018-10-06 12:27] soungl commented on #121
Thank you so much, Matt. This is fantastic!

Daniel Lee
Professor of Economics, Data Analyst, Tourism Economist
http://daniellee.netlify.com/
https://www.linkedin.com/in/daniel-lee-data-analyst

    On Friday, October 5, 2018, 7:45:00 PM EDT, Matt Herman <notifications@github.com> wrote:

It appears that the Census API doesn't allow you to call all county subdivision in a given state for the Decen

[2018-10-07 17:34] mfherman commented on #121
FYI -- I just wrote up some of this in a little more detail on my blog:

https://mattherman.info/blog/tidycensus-mult/

[2018-10-08 15:55] soungl commented on #121
Matt,
This is wonderful. Thank you again for sharing.

Daniel Lee
Professor of Economics, Data Analyst, Tourism Economist
http://daniellee.netlify.com/
https://www.linkedin.com/in/daniel-lee-data-analyst

    On Sunday, October 7, 2018, 1:34:15 PM EDT, Matt Herman <notifications@github.com> wrote:

FYI -- I just wrote up some of this in a little more detail on my blog:

https://mattherman.info/blo

[2018-10-08 21:03] profLuna commented on #71
It seems like this error may not be due solely to lack of availability at a given census unit. For example, the following throws the same error:
`maBlkGrp2010 <- tidycensus::get_decennial(geography = "block group", year = 2010,
              variables = c(totalPop = "P009001", White = "P009005",
                            Black = "P009006", Asian = "P009008",
                            Hispanic

[2018-10-09 10:16] walkerke commented on #71
Thanks for the note @profLuna.  The issue is with recent changes to the decennial Census API.  The old decennial Census endpoint made block group data available by county; I then have internal logic to iterate through all counties in a state and stitch together a state-level block group dataset.

The new endpoint, however, only appears to make block group data available by Census tract for the dec

[2018-10-11 00:22] nbrazil opened #122 "ACS 5 year not available at requested geography"
This fails on a Windows Machine

[code]

I get this

[code]

Also, when I try to view the  variables

`v1 <- load_variables(2009, "acs5", cache=TRUE)`

I get

[code]

All other 5-year ACS works.  Moreover, the above code works on my Mac laptop.

[2018-10-11 01:03] walkerke commented on #122
It looks like Census hasn't yet migrated the 2005-2009 ACS to the new endpoint which I'm using in `get_acs()`.  I'll fix this.  My guess is that you have an older version of tidycensus installed on your Mac which is using the old endpoint.

[2018-10-11 01:20] hafix00 opened #123 "Error in gather_(data, key_col = compat_as_lazy(enquo(key)), value_col = compat_as_lazy(enquo(value)), : unused argument (-NAME)"
I am getting this error message even when I try a code as simple as this:

cuyahogaPop <- get_decennial(geography = "county", year = "2010", state = "OH", variable = "P0010001")

[2018-10-11 10:47] walkerke commented on #123
Census has changed the decennial variable IDs.  This works:

[code]

[2018-10-11 10:47] #123 closed

[2018-10-12 22:19] arilamstein opened #124 "?get_acs state parameter"
I have a case where I need to get data for multiple states. The documentation (and the fact that the parameter is singular) makes it sound like the the function can only get data for one state at a time. Here's the documentation for the `state` parameter for `?get_acs`:

``
The state for which you are requesting data. State names, postal codes, and FIPS codes are accepted. Defaults to NULL.
``

Ho

[2018-10-12 23:50] walkerke commented on #124
Some geographies like counties can take multiple states, but many others (e.g. tracts, school districts) cannot, so I'm going to keep `state` the way it is.  However - I would welcome a PR to modify the documentation.

[2018-10-12 23:50] #124 closed

[2018-10-13 19:18] arilamstein commented on #124
Done.

Now that I'm looking at the documentation more closely, there might be room for other changes. For example, the `state` parameter says: "Defaults to NULL." While this is accurate, it also doesn't tell me what it means to have the variable be NULL. If it means "all states", then it might be useful to change the last sentence to be something like "If NULL, then get data for all states".

[2018-10-16 17:06] ulfelder commented on #122
I just installed `tidycensus` and am getting the same "lexical error" response whenever I try to use `get_acs()`, even just copying and pasting an example from your vignette.

[2018-10-16 17:08] walkerke commented on #122
My guess is that you need to activate your Census API key (see https://github.com/walkerke/tidycensus/issues/117).  Have you done this?

[2018-10-17 09:59] walkerke commented on #117
I've added an informative error message when this error gets triggered in https://github.com/walkerke/tidycensus/commit/7173758f62b547107e41c855ee2269e29a968d19 - thanks for identifying it!

[2018-10-17 10:11] #118 closed

[2018-10-17 10:12] walkerke commented on #118
This now works!

[2018-10-17 16:19] ulfelder commented on #122
@walkerke, my apologies, I had not activated the key. I did that, and now the code runs fine. Thank you.

[2018-10-17 16:19] arilamstein commented on #118
Thank you!

Testing now ...

On Wed, Oct 17, 2018 at 3:12 AM Kyle Walker <notifications@github.com>
wrote:

[2018-10-17 17:09] arilamstein opened #126 "Comparison Profile tables"
It looks like `tidycensus` does not currently support the Comparison Profile (CP) tables. E.g.:
[code]
According to [the Census API page](https://api.census.gov/data.html) there is currently support for the Comparison tables, although it is listed as "BETA".

I'm curious if you are planning to add support for this tables, and if so, what the relative priority of adding them is.

[2018-10-18 10:47] walkerke commented on #126
@arilamstein this is the first request I've received for the Comparison tables, so I hadn't been considering implementing it.  It may be something I do at some point but it's not a top priority at the moment.  __ censusapi__ can do it so you may want to check that out.

[2018-10-18 16:58] TGSwartz commented on #117
Awesome. Thank you.

[2018-10-19 01:50] bbrewington commented on #122
Maybe build the check for active census api key into the function, so the error message is more informative?

[2018-10-19 14:00] walkerke commented on #122
@bbrewington I've added an error message explaining @ulfelder's error as of https://github.com/walkerke/tidycensus/commit/7173758f62b547107e41c855ee2269e29a968d19.  I'll put some error handling into `load_variables()` to account for if a user requests a dataset that doesn't exist yet.

[2018-10-24 21:21] AnastasiiaFR opened #127 "get_acs for 5years bug"
Good day,

When trying to pull the data:

v16 <- load_variables(year = 2016, dataset = "acs5", cache = TRUE)
View(v16)

data <- get_acs(geography = "county", state = "MA", variable = "B25060_001")

get the error:

No encoding supplied: defaulting to UTF-8.
Error: lexical error: invalid char in json text.
                                       <html>     <head>         <titl
                     (r

[2018-10-24 22:26] mfherman opened #128 "get_acs() fails with dev version of {tibble}"
I just updated to the dev version of `tibble` (1.4.99.9005) from GitHub and am getting this error I haven't seen before:

[code]
When I run `rlang::last_error()` I see the following:

[code]
Rolling back to the CRAN version of `tibble` (1.4.2)  fixes the error.

[2018-10-25 00:00] walkerke commented on #127
@AnastasiiaFR have you activated your Census API key?  Make sure to click the activation link in the email Census sends you with the key.  Then try again and your code should work.

[2018-10-25 00:16] AnastasiiaFR commented on #127
@walkerke, thank you so much! Was digging into error and missed the obvious thing...

[2018-10-25 00:28] #127 closed

[2018-10-26 14:52] walkerke commented on #128
Thanks @mfherman!  In the past I've found it difficult to debug these downstream issues in the tidyverse as the API sometimes changes.  However this will hopefully give some time to fix this before they release the updated package.

[2018-11-06 05:05] arthurgailes opened #129 "get_decennial returning error on tract geography"
Hello,

Running the code from the example works perfectly, but when I switch "county" to tract, it returns an error

[code]

Not sure what's causing this, but it's recurring across at least several P tables.

[2018-11-06 13:36] mfherman commented on #129
This is because the Census API requires a state/county combination to retrieve tracts from the Decennial Census. This issue is similar to https://github.com/walkerke/tidycensus/issues/121#issuecomment-427526779 where a state and county is required to get county subdivision data.

I wrote up some of this in a [blog post with plenty of examples](https://mattherman.info/blog/tidycensus-mult/). Below

[2018-11-06 14:12] walkerke commented on #129
Thanks @mfherman for the detailed response.  Yes, I think it is worth building this logic into tidycensus.  With the move to the new Census API endpoints, Census removed this functionality; tracts used to be available by state for the decennial Census.  This was an issue for the new ACS endpoints as well, but Census fixed it; @loganpowell do you think the API team would be amenable to this request

[2018-11-06 14:22] mfherman commented on #129
I'm quite a novice package developer, but I can try to make a start on adding this to tidycensus. Even if they do fix the Census API, it may still be useful for other geographies like county subdivisions and block groups.

[2018-11-07 22:31] arthurgailes commented on #129
Thanks @mfherman !

[2018-11-12 04:24] waholulu opened #131 "Is there any way to download multiple year data at one time"
I intend to make a plot of how stats change over the years. But when I set year variable to be a sequence of the year.   it will have the error like
`Error in is.url(url) : length(url) == 1 is not TRUE`

How to solve this issue. Thanks

[2018-11-12 13:39] mfherman commented on #131
One approach to get multiple years is to loop over a set of years with the same `get_acs()`call. I like using the [`map()` family of functions](https://purrr.tidyverse.org/reference/map.html) from the `purrr` package for this.

Note, this approach is similar to the discussion in #121 and #129 in which you can loop over multiple county/state combinations. The main difference is that I loop over a n

[2018-11-12 14:09] waholulu commented on #131
Thanks @mfherman
But this method will remove the geometry in the dataset due to forcing merge the data.  But I need to **plot** this data, so I have to keep to geometry. Is there any other option?

[2018-11-12 14:48] waholulu commented on #131
Thanks @mfherman
But seems like still something wrong keep from plotting the df.
[code]
[code]

[2018-11-12 15:08] mfherman commented on #131
Hmm...It's working on my end. Maybe try updating to the latest versions of `ggplot2` and `sf`?

Aside from the code, another issue is that you probably shouldn't be comparing overlapping 5-year datasets (see https://www.census.gov/programs-surveys/acs/guidance/comparing-acs-data.html). In the code you posted, you are getting data from 2009-2013, 2010-2014, and 2011-2015. To compare across these ye

[2018-11-13 22:45] rhaefer commented on #76
Has there been any progress made on this issue? I still get an error when using get_decennial to access 1990 tract level data for a list of counties in California. Thanks!

[2018-11-21 02:40] #129 closed

[2018-11-26 21:10] mafichman opened #132 "get_decennial cannot pull more than three variables simultaneously for 2000 sf3"
Starting last night, many of my students reported errors downloading SF3 data from the 2000 census. After a lot of tweaking to each parameter, we determined that we could only call a maximum of 3 variables at a time.

We also had sporadic failures using the 2000 sf3 that yielded the same error. These failures didn't seem to be systematic, and the errors are not specific.

[code]
This yields the fo

[2018-11-27 05:25] gpreston958 opened #134 "get_acs() error for any variables in 2010 ACS 5 Year"
Potentially related thread: https://github.com/walkerke/tidycensus/issues/132

However, unlike with the 2000 Decennial SF3, the download of 2010 ACS fails regardless of number of variables or variable ID used.
[code]
This yields the following error message:

Getting data from the 2006-2010 5-year ACS
Using FIPS code '42' for state 'PA'
Using FIPS code '101' for 'Philadelphia County'
Error: Your AP

[2018-11-28 17:38] walkerke commented on #132
That error message suggests an error on the API side, so there isn't anything I'll be able to do about it.  I do know that the API has been in a bit of flux so I'll monitor that.  You can also ping Census at https://gitter.im/uscensusbureau/general#.

[2018-11-29 15:30] mafichman commented on #132
Thanks @walkerke - the timing is very inopportune, my graduate city planning students are undertaking some semester-ending projects and most are using tidycensus to do so!

[2018-11-29 15:37] walkerke commented on #132
@mafichman I just tried running your code and it worked for me.  Could you try again?

[2018-11-29 15:38] walkerke commented on #134
@gpreston958 I just ran your code and it worked for me.  Could you try again?  BTW your error message suggests an API-level problem which appears to have been resolved by Census.

[2018-11-29 15:53] #134 closed

[2018-11-29 15:53] #132 closed

[2018-11-29 15:53] #131 closed

[2018-11-29 16:46] NikKrieger opened #135 "Please add ... to the formal arguments of tidycensus:::use_tigris()?"
I've been working on a function that calls `get_acs()`/`get_decennial()`. These two have `...` in their formal arguments, allowing them to accommodate other arguments, but then these functions pass their `...` onto `tidycensus:::use_tigris()`.

Since `tidycensus:::use_tigris()` doesn't have `...` in its formal arguments, if you include any arguments in `get_acs()`/`get_decennial()` that aren't in

[2018-11-29 16:49] NikKrieger commented on #135
One more thing: I acknowledge that this is only a problem when setting `geometry = TRUE` in `get_acs()`/`get_decennial` because `tidycensus:::use_tigris()` isn't called when `geometry = FALSE`.

[2018-11-30 17:16] ummel opened #136 "Error getting block group data for all states"
I am attempting to obtain block group data nationally following @walkerke's [example here](https://walkerke.github.io/2017/05/tidycensus-every-tract/).

I get an odd error when running the code block below. Hopefully, you can replicate it. I am using version 0.8.3.

The traceback looks to me like the culprit might have to do with the `match.call()` and `eval()` calls in `get_acs()` when multiple e

[2018-11-30 21:20] gpreston958 commented on #134
Yes - it appears there was an API problem with the Census. Thanks!

[2018-11-30 22:44] mfherman commented on #136
It looks like the way the package currently handles block group calls for multiple counties is failing when using the `purrr::map()` family of functions. I believe the issue is that `match.call()` is looking for a string to evaluate while making the multiple calls, but it is getting `.` or `.x` from `map()` instead of the states you are trying to iterate over:

[code]
It seems like one solution to

[2018-12-05 02:44] Tireur289 opened #137 "Accessing 2017 5-Year ACS data"
On December 6, Census will release 5-year ACS data for 2013-2017.  Will this be available through TidyCensus then, or at some later time?  Would setting "year" to 2017 be necessary, or will tidycensus default to the most recent 5-year period?

[2018-12-05 10:58] walkerke commented on #135
@NikKrieger yes I'll do that.  I'll be prepping tidycensus for a new release soon and this will be in there.

[2018-12-05 15:49] NikKrieger commented on #135
Awesome. Thank you.

On Wed, Dec 5, 2018, 5:58 AM Kyle Walker <notifications@github.com wrote:

[2018-12-05 16:32] camille-s commented on #137
As far as I know, there shouldn't be any API changes, but do you anticipate any changes to helper functions like `load_variables`? Anything that folks can help with?

[2018-12-05 18:11] walkerke commented on #137
@camille-s everything should work right away, including `load_variables()`.  If you see something though, let me know, thanks!

[2018-12-06 17:58] walkerke commented on #137
I can confirm that it is working as expected!

[2018-12-06 17:58] #137 closed

[2018-12-06 18:34] walkerke commented on #137
@plnnr Looks like the 2013-2017 data is not yet available by state for tracts (it works if you specify a county).  I'm not sure if, or when, they'll make this available.

[2018-12-07 19:48] TDeLaNN opened #138 "Not able to download Accessing 2017 5-Year ACS Block group level data"
I was able to download tract level data, but I got this error message when I tried to download block group level data.
Error message: The API message returned is error: unknown/unsupported geography heirarchy.

So this script worked:
CensusCal <- st_sf(get_acs(geography = "tract",
                        table =  "B01003",
                        year = 2017,
                        survey = "acs5

[2018-12-07 21:38] NikKrieger commented on #136
Does this have anything to do with the fact that pre-2015 calls to acs5 don't work at the block group level?

[code]

[code]

It seems that `get_acs()`'s pre-2015 calls are trying to use URLs like this one, which throws an error:
https://api.census.gov/data/2010/acs/acs5?get=B01003_001E%2CB01003_001M%2CNAME&for=block%20group%3A%2A&in=state%3A39%2Bcounty%3A055&key=ebabc898a4385e3974970caa99a6e7d0a2

[2018-12-07 22:12] walkerke commented on #136
@NikKrieger your links represent some current issues with a migration of the ACS API to a new endpoint.  The first link you call is the new endpoint, which includes some limitations on geographic hierarchies.  I've put in a request to Census to try to resolve them.  The second link is the old endpoint, which is slated to be shut down by the end of the year (originally, this was going to happen in

[2018-12-10 16:16] NikKrieger commented on #136
Thanks for the explanation. I'm certainly grateful for the Census API to a degree, but I'm experiencing a measure of disillusionment with the number of quirks and unavailabilities it has.

[2018-12-10 20:56] camille-s commented on #136
@NikKrieger not that it's all that juicy, but we can see your API key in those URLs!

[2018-12-11 23:32] larcat commented on #138
Seconding this -- works fine for prior years but is not working for 2017.

[2018-12-11 23:36] larcat commented on #136
Thanks for this thread and the workaround, all :)

[2018-12-12 15:37] NikKrieger commented on #136
Fixed. Thanks.

[2018-12-12 15:53] larcat opened #139 "Unable to pull state-wide 2017 ACS5 tract data via get_acs."
Still works fine for 2016, etc. See below. Dunno if this is a census issue or a tidycensus issue.

[code]

[2018-12-12 16:50] walkerke commented on #139
@larcat it's an API-level issue.  The new 5-year ACS release is currently restricted to tract queries within counties.  I'm going to see if Census will resolve this - otherwise I'll have to handle this internally within the package.

[2018-12-12 22:51] mfherman commented on #139
Until the Census API is fixed, you could use a workaround similar to the one described here https://github.com/walkerke/tidycensus/issues/136#issuecomment-443362304 and https://github.com/walkerke/tidycensus/issues/121#issuecomment-427526779. Basically, you loop through each of the counties, repeating your `get_acs()` call each time. For brevity sake, I pulled just `B01001_001` instead of the enti

[2018-12-13 14:55] walkerke commented on #139
Your code now works as of this morning, @larcat.

[2018-12-13 14:55] #139 closed

[2018-12-13 15:11] larcat commented on #139
Thank you all for the responses!

[2018-12-13 16:23] walkerke commented on #136
@mfherman your contributions here are very much appreciated!  One of my plans as research/dev time opens up soon (very heavy teaching semester this fall) is to do a full refactor of how tidycensus handles that internal block group logic, removing `match.call()` and probably writing out the arguments one-by-one.  I'll also iron out some of the FIPS code issues by having tidycensus check tigris for

[2018-12-13 16:38] #128 closed

[2018-12-13 16:55] walkerke commented on #138
just tested - this now works after a Census API update!

[2018-12-13 16:55] #138 closed

[2018-12-13 17:43] #122 closed

[2018-12-13 17:44] walkerke commented on #122
@nbrazil just pushed a fix to revert to the old API endpoint for 2005-2009.  However the old endpoints are slated to be removed at the end of the month, so I don't know if this is a long-term fix.

[2018-12-13 18:58] NikKrieger commented on #135
Nothing specific at this point. I just don't want users to get an error if they pass an extra non formal argument to `get_acs()`.

[2018-12-13 20:24] larcat opened #140 "Error grabbing decennial block data."
See below:
[code]

[2018-12-13 20:51] larcat commented on #140
And for posterity:
`

+
+   ### Decennial (block level) for broadband.
+
+     ky <- unique(fips_codes$county_code[which(fips_codes$state == "KY")])
+
+     totalpop <- map_df(ky, function(x) {
+
+       cur_api_url <- paste0("https://api.census.gov/data/2010/sf1?get=P0010001,NAME&for=block:*&in=state:21%20county:", x, "&key=",
+                             Sys.getenv("CENSUS_API_KEY"))
+
+

[2018-12-14 10:39] walkerke commented on #140
Census recently changed variable names for the decennial Census for the new endpoints.  So, the following call works using the variable `P001001`:

[code]

The examples you've provided making calls to the API directly use the old API endpoint, which is scheduled to be removed on December 31.

[2018-12-14 10:39] #140 closed

[2018-12-14 18:30] larcat commented on #140
Gah, my apologies. Good old _user error_. Thanks for taking the time to correct me :)

[2018-12-17 21:14] TBleess opened #141 "API error pulling 2017 ACS data"
I am attempting to run an R script using the tidycensus package to download 2017 5 year ACS data for the US. Ideally it will call for the data for every table barring a few to load as one wide table that I will later chop into pieces to load in my database.

This works fine using 2016 ACS and earlier data with a little tweaking of the variables dropped. (Thank you so much!) But with the 2017 ACS d

[2018-12-18 18:50] jzadra opened #142 "Feature request: replace variable names with labels"
It would be great if there was an argument to replace variable names (B01001_001) with the label (Estimate!!Total).

[2018-12-26 14:39] walkerke commented on #141
That error message refers to something on the API end - I know that there were some issues as Census rolled out the new data to the API.  Are you still experiencing the issue?

[2018-12-26 16:04] TBleess commented on #141
Still have the issue, suspect there's no chance it will be fixed in the near future. Got all the state, county and place data downloaded by working in small chunks, I'll have to use a more manual process with the tracts and block groups.

[2019-01-08 21:33] abuabara opened #143 "Error: Columns 1, 2, 3, 4, 5, … (and 2 more) must be named."
I had some pieces of code that were pulling ACS 5Y Census data pretty well. Suddenly (starting yesterday), the codes have not worked anymore. At first I thought it was due to some package update (slang, tibble, etc.). But probably no, because I tested on machines that were off for a while and I get the same messages. I suspect it may be due to government shutdown, but I'm not sure either. Using th

[2019-01-08 21:49] mfherman commented on #143
This looks like an error introduced with the new release of `tibble` that is addressed in #130. Try updating to the development version of `tidycensus` and this should be fixed:

[code]

[2019-01-08 23:40] mfherman commented on #143
Hmm, I can't reproduce your error on my machine. Here is a reprex with the working code as well as my session info. Do you see package versions that differ between our configurations?

[code]

<sup>Created on 2019-01-08 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2019-01-09 02:43] walkerke commented on #143
@mfherman you're the best!  I'm putting you down as a package contributor on the next CRAN release for answering so many user questions.

[2019-01-09 11:17] walkerke commented on #142
@jzadra While I agree with you, the problem is that many labels are duplicated across different variable groups/tables.  For example "Estimate!!Total" is found as a summary variable for many tables and would not be able to identify the specific variable, so I won't be able to implement this.

A possible related alternative is to incorporate the new "tags" feature for version 1.0 (https://api.censu

[2019-01-09 11:17] #142 closed

[2019-01-09 12:38] mfherman commented on #143
Thanks @walkerke, glad to be of service!

[2019-01-09 15:05] howardjp opened #144 "get_acs() and get_decennial() are failing"
I am having some issues with`get_decennial()` and `get_acs()`.  Specifically, as of this week, calls to both are failing with similar errors about the data format.

# Environment

* MacOS Mojave 10.14.2 (18C54)
* R 3.5.2
  * All libraries up to date.

# Steps to Reproduce

See attached Jupyter notebook output.
[tidycensus-test.pdf](https://github.com/walkerke/tidycensus/files/2741385/tidycensus-te

[2019-01-09 15:17] mfherman commented on #144
Hmm. I'm not able to reproduce this error on my machine or on RStudio Cloud. Are you using you the most recent development version of `tidycensus` from GitHub?

Also, could you share the results of `devtools::session_info()`

[2019-01-09 15:35] howardjp commented on #144
Well, update to the current master branch worked.  So there you go!

[2019-01-09 15:35] #144 closed

[2019-01-09 16:09] walkerke commented on #144
Thanks again @mfherman!  @howardjp - I've sent a new version to CRAN which is now up there (source version, binaries coming soon).

[2019-01-15 18:40] RyanWalch opened #145 "get_acs Fails Inside Functions for 2010-2014 End Dates"
get_acs is failing when I try and pass a year or state to it inside a function for years between 2010 and 2014 (it works fine for 2015 and 2016 weirdly).  The code I am running:

[code]

The error I get is

` Error in get_acs(geography = "tract", table = c("B19301"), cache_table = TRUE,  :
  object 'the_year' not found `

If I change the function call to the year 2015 it runs fine.  Running the fo

[2019-01-15 19:51] mfherman commented on #145
This error is related to the way `get_acs()` re-calls itself when getting tracts in multiple states. See #136 for more discussion about this issue. Until `get_acs()` is re-factored, one workaround is to use `purrr::map()` to loop over all counties in a state to get tracts from each counties. Your function would look something like this:

[code]

<sup>Created on 2019-01-15 by the [reprex package](h

[2019-01-20 12:52] walkerke commented on #141
@TBleess sounds good.  with the government shutdown I've been noticing intermittent issues that can be resolved sometimes by trying again.  I will say that for bulk pulls I tend to recommend using NHGIS instead of tidycensus as you won't have to worry about API instability.

[2019-01-20 12:52] #141 closed

[2019-02-01 17:45] mcgaugj opened #146 "Errors with ACS"
Hi There.  I'm a bit of a novice so please forgive me if this is super basic.  I have tried troubleshooting on my own and this is my last resort.  I'm simply trying to get some data out of the API and I don't even get that far.  Here is what I am running:

library(tidyvers)
library(tidycensus)
library(sf)

census_api_key("XXXXXXXXXXXXXXXXXXXXXXXXXXXX", install = TRUE)

readRenviron("~/.Renviron")

[2019-02-01 18:01] mfherman commented on #146
Looks like the issue is that you're trying to get tract-level data from the 1-year ACS estimates, but this data is only available as a 5-year estimate. You can look [at this table from the Census Bureau](https://www.census.gov/programs-surveys/acs/geography-acs/areas-published.html) (admittedly this is very poorly formatted)  to see what geographies are available as 1- or 5-year estimates.

Genera

[2019-02-01 18:02] abuabara commented on #146
1) first of all, it is tidyverse .. you missed the "e"
library(tidyverse)

2) this variable does not exist in the ACS1 survey. But ACS5 it works

3) what you are getting ACS3 is just the library list ... what is fine, it supposedly works

[2019-02-01 18:11] mcgaugj commented on #146
Thanks both.  I fixed the typo in the package and then switched to the acs5, but it's throwing errors in both (I know the second one only pulls the variables).  Both say there are invalid characters in the JSON. Here's the errors:

Downloading feature geometry from the Census website.  To cache shapefiles for use in future sessions, set `options(tigris_use_cache = TRUE)`.
Loading ACS5 variables fo

[2019-02-01 19:18] walkerke commented on #146
@mcgaugj did you activate your API key?  That can sometimes trigger an error like this.  If not, go back to the email from Census where you received your key and click the link in the email to activate it.

Otherwise, make sure that you are running the latest version of tidycensus from CRAN - this will be version 0.9.

[2019-02-01 20:00] mcgaugj commented on #146
It was the jsonlite package.  I was on an old version.  I'm in business gentleman!  Thank you very much for your help.  It is much appreciated.

[2019-02-02 01:38] mfherman commented on #146
Hmmm...I just installed jsonlite 1.5 on my machine and I'm not getting the parsing error you got, @mcgaugj . Anyhow, glad it's working for you now!

[2019-02-06 07:40] erstearns opened #147 "Issue obtaining spatial attributes from data"
Hi there,

Let me lead by saying this is a great package!

I am trying to simply grab a total population table as an sf tibble and am encountering an issue.

**Code:**
`acs_geo <- get_acs(geography = "county",
                   variables = "B25001_001E",
                   year = 2009,
                   survey = "acs5",
                   geometry = TRUE
                   )`

**Error message:**

[2019-02-06 14:37] abuabara commented on #147
Not sure ... I notice that if you turn geometry = FALSE the code works
Probably it is something related to the "shapefile". Probably the US counties shapefile is too big.

[2019-02-06 14:40] abuabara commented on #147
[code]

[2019-02-06 14:41] walkerke commented on #147
Thanks for filing!  That's a bug.  Cartographic boundary files don't exist for 2009 so I should include logic to fetch an alternative dataset.  I'll fix that.

[2019-02-06 14:41] abuabara commented on #147
[code]

[2019-02-06 14:43] mfherman commented on #147
For now, you can grab 2009 shapefiles for counties directly from the Census and then join them with the data downloaded via `get_acs()`.

https://www.census.gov/cgi-bin/geo/shapefiles2009/national-files

[2019-02-06 16:58] tfricker commented on #145
I am having a similar issue with 2010--2014 end years---though no issue with 2015, 2016, or 2017 end years. I have tried the workaround and am still failing. My code is:
[code]
The error I get is

Called from: map_chr(county, function(x) {
    validate_county(state, x)
})

I have also tried looping over county codes in addition to state FIPS---to no avail. Any ideas?

[2019-02-06 17:27] mfherman commented on #145
Take a look at https://github.com/walkerke/tidycensus/issues/136#issuecomment-443362304 for some more detail about how to iterate over state/county combinations. Also note the wrinkle regarding changed county names in certain years.

I believe I have a working example of what you are trying to achieve below. Note, I did this for only 2 two states instead of all the ones you are trying to get to sa

[2019-02-09 23:39] philiporlando commented on #52
I'm getting a similar error for Detroit's metro area. Setting `cb = F` returns geometries without error, but I'm confused as to why we're still seeing this error for the default year?

[code]

[code]

Setting `cb = F` is working for me.

[code]
Getting data from the 2013-2017 5-year ACS
Downloading feature geometry from the Census website.  To cache shapefiles for use in future sessions, set `opti

[2019-02-10 03:42] walkerke commented on #52
@philiporlando thanks for bringing this up.  I've also been experiencing similar behavior intermittently, though I just ran your problem code successfully.

Specifically, connections to the Census shapefiles via httr GET requests (which is used deep under the hood here) have been known to occasionally fail.  I've generally noticed these errors when R is used in a server environment - both on Windo

[2019-02-12 22:58] gpreston958 commented on #145
I am having troubles with even a single state-county combination at the block group level for ACS5 end years 2010-2014:
(using B01003 as an example)
[code]
This code works for ACS5 end years 2015-2017.

I tried the work around provided above:
[code]
I additionally tried calling the Census API directly:
https://api.census.gov/data/2014/acs5?get=B01003&for=state:42+county:101&key=CENSUS KEY HERE

Bu

[2019-02-13 15:35] mfherman commented on #145
@gpreston958 This is a known issue with Census API endpoints for years prior to 2015. Take a look here: https://github.com/walkerke/tidycensus/issues/136#issuecomment-445381782 for a little more discussion. My best advice at the moment would be to get block group data from [NHGIS](https://nhgis.org/) until the API issue is ironed out.

[2019-02-14 13:27] josiekre commented on #128
I'm on `tibble` (1.4.2) and still getting this same error.

[2019-02-14 13:33] josiekre commented on #143
Looks like the key is having compatible `tibble` and `tidycensus`. I needed to update to `tibble`  2.0.1 and `tidycensus` to 0.9.0 for the error to go away. Update the Description to require 2.0.1 or greater for `tibble`?

[2019-02-14 13:56] josiekre commented on #143
I take that back. I updated `tidycensus` to 0.9 in a Docker container without touching anything else, and it seems to be working. `tibble` is at 1.4.2. So something else different between these two machines is causing the error. Ugh.

[2019-02-14 19:20] mfherman commented on #143
@josiekre if you are able to isolate which package/version is causing the error, let us know and we can take a look.

[2019-02-14 19:36] walkerke commented on #145
Thanks @gpreston958 @mfherman!  Yes the problem is that the new endpoints for 2010-2014 endyears require specifying a tract to perform block group queries.  I'm putting a request in with Census to allow for county wildcards as the old endpoints did, as making tract-by-tract API calls then stitching them together in tidycensus isn't a great solution performance-wise.  I'll post updates here.

[2019-02-14 19:40] walkerke commented on #143
Thanks @josiekre @mfherman - yes let's update the required dependency version once the problem is identified.

[2019-02-14 19:51] loganpowell commented on #145
Calls to the ACS endpoints have changed and must now include a prequalifying `acs` before the product. E.g., https://api.census.gov/data/2014/acs/acs5?get=B01003_001E&for=county:101&in=state:42

As for the wildcard issue, the team is working on it atm. If your need is urgent, please don't hesitate to tell them so: cnmp.developers.list@census.gov

[2019-02-16 04:06] nathancday opened #148 "`tibble2.0.0` is breaking everything :("
I dunno why `tibble` decided to release this `.name_repair` behavior onto the world, but here we are. Seems like the newest CRAN version of it is breaking `get_acs()` for the example code.

[code]

<sup>Created on 2019-02-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Happy to do a PR if this is something to be supported for longterm.

[2019-02-16 11:20] krlmlr commented on #148
This works for me, have you tried updating the _tidycensus_ package?

[2019-02-16 11:37] nathancday commented on #148
Thanks @krlmlr. I mistakenly attributed `tibble` being the root cause and didn't check the version of `tidycensus`. This does work with 0.9.0, closing.

[2019-02-16 11:37] #148 closed

[2019-03-05 02:22] arwclark commented on #66
I'm a MAC user and I've spent hours trying to load Tidycensus.  I've read the previous posts and I've loaded "units" "rgdal" and get this message:
The downloaded binary packages are in
	/var/folders/rk/s0crss2j4gl4rhl6j1t92f_r0000gn/T//Rtmp4d37rw/downloaded_packages

Error: package or namespace load failed for ‘tidycensus’:
 .onLoad failed in loadNamespace() for 'sf', details:
  call: get(genname,

[2019-03-05 02:24] arwclark opened #150 "Tidycensus issue"
I'm a MAC user and I've spent hours trying to load Tidycensus. I've read the previous posts and I've loaded "units" "rgdal" and get this message:
The downloaded binary packages are in
/var/folders/rk/s0crss2j4gl4rhl6j1t92f_r0000gn/T//Rtmp4d37rw/downloaded_packages

library(tidycensus)
Error: package or namespace load failed for ‘tidycensus’:
.onLoad failed in loadNamespace() for 'sf', details:
cal

[2019-03-05 14:03] mfherman commented on #150
Can you make sure your installed packages are up-to-date by running `update.packages()`? Because the error is referencing the `group_map()` function from the latest version of `dplyr`, I'm guessing you have an older version of `dplyr` that is in someway preventing `sf` from loading properly.

If updating all your packages doesn't help, can you share more information about your setup like your oper

[2019-03-05 18:04] arwclark commented on #150
Matt,

I tried and got this message:

The downloaded binary packages are in
/var/folders/rk/s0crss2j4gl4rhl6j1t92f_r0000gn/T//RtmppHRsIW/downloaded_packages

Error: package or namespace load failed for ‘tidycensus’ in get(method, envir = home):
lazy-load database '/Library/Frameworks/R.framework/Versions/3.5/Resources/library/dplyr/R/dplyr.rdb' is corrupt
In addition: Warning messages:
1: In .regi

[2019-03-05 19:06] mfherman commented on #150
Sorry you're still having trouble installing, @arwclark. It stilll looks like a `dplyr` installation issue to me. Try this:

[code]
Then run `packageVersion("dplyr")` to confirm you have the most recent version -- it should return `‘0.8.0.1’`. After that, give `library(tidycensus)` a try again.

[2019-03-06 19:02] arthurgailes opened #151 "Block geography no longer working with get_decennial"
[code]

This code works at block group and tract geographies

[2019-03-07 11:36] walkerke commented on #151
It appears as though block by county wildcards were removed.  I'll contact Census about this and see if they can fix it.

[2019-03-08 00:28] mgaughan2019 commented on #128
I'm having this same error with tibble 2.0.1. Any updates on a solution?

[2019-03-08 00:34] mfherman commented on #128
@mgaughan2019 Do you have the latest version of tidycensus (0.9) installed? If so, could you share the code and error messages that you're seeing, as well as the results of running `sessionInfo()`?

[2019-03-08 00:45] mgaughan2019 commented on #128
@mfherman Updating tidycensus solved the issue. Thanks for the tip.

[2019-03-08 07:05] jdsher commented on #151
Don't know if it helps, but block groups can work in some counties but not others.

[2019-03-08 07:08] jdsher commented on #151
[code]
does not work, but ...
`get_decennial("block group",
                         state = "WA",
                         year = 2010,
                         county = "King",
                         variable = "P001001",
                         geometry = FALSE)`
does

[2019-03-09 00:49] arwclark commented on #150
I'd delinquent saying, "THANK YOU."

[2019-03-12 13:14] johngoldin opened #152 "Water & Tract 9900 confuses get_acs geometry"
If I run get_acs for New Haven county, Connecticut and have geometry TRUE and cb = TRUE, I get an error. (See code sample below.) If I run get_acs with geometry = FALSE it returns the estimates as expected. If I run with
`cb = FALSE` it also runs successfully.

The problem seems to be that the get_acs part of the query returns 190 tracts in
New Haven county and the tigris portion returns shapefile

[2019-03-12 13:33] walkerke commented on #152
Thank you for filing!  This appears to be a much bigger issue as I currently can't read in any cartographic boundary shapefiles from the Census as sf objects.  I don't have time to investigate right now but I'll take a look ASAP.

[2019-03-12 14:49] walkerke commented on #152
... which means this is actually a **tigris** issue.  I'll let you know what I figure out.

[2019-03-12 16:50] abuabara commented on #152
On my machine, the same code is working well. Not sure it will help, but I'm wondering it can be related to the rgeos/rgdal installation. Make sure you have this version of proj ... if not change the folder path

install.packages("rgdal", type = "source",
  configure.args="--with-proj-share=/usr/local/Cellar/proj/5.2.0/share/proj")

![Screen Shot 2019-03-12 at 11 45 13 AM](https://user-images.gith

[2019-03-12 19:41] walkerke commented on #152
Thank you @abuabara!  A bit embarrassing but I was testing the code with a development branch of tigris active that was causing my error 😳

@johngoldin I am running your code successfully.  The one thing that jumps out is an older version of sf on your computer - could you try updating sf and seeing if that solves it?

[2019-03-12 22:59] johngoldin commented on #152
I updated sf and that seems to have fixed the problem. I ran with cb and without and got 190 rows both times as I should.

Thank you for the quick response and I’m glad it’s something so simple, although it does seem a bit odd. Sorry to raise a false alarm.

Should I close the issue and point to the version of sf as the problem? Or will you do that?

—John

[2019-03-13 10:49] walkerke commented on #152
I'll close it.  With respect to the opening issue you raised - the discussion in this issue is relevant: https://github.com/walkerke/tidycensus/issues/68

[2019-03-13 10:49] #152 closed

[2019-03-13 10:50] #150 closed

[2019-03-13 10:55] #146 closed

[2019-03-13 11:03] #147 closed

[2019-03-13 11:06] walkerke commented on #147
This should now work in the dev version:

[code]

Additional check:

[code]
![image](https://user-images.githubusercontent.com/4872833/54274436-17c80800-4556-11e9-95d5-06681f79a2e0.png)

Please let me know if anything is not working, however.

[2019-03-13 11:07] #126 closed

[2019-03-14 21:47] dkori opened #153 ".onLoad failed in loadNamespace() for 'sf', details:"
@arwclark commented about this problem on an issue that was already closed:
https://github.com/walkerke/tidycensus/issues/66#issuecomment-469508846

I'm having the same problem, so wanted to open a separate issue for it.

I installed tidycensus from CRAN using install.packages("tidycensus").

When I try to load the package with library(tidycensus), I get the following error message:

I have tried

[2019-03-14 21:49] #153 closed

[2019-03-14 21:50] dkori commented on #153
Sorry, should have checked the closed issues more carefully. Reinstalling dplyr fixed this.

remove.packages("dplyr")
install.packages("dplyr",dependencies=TRUE)

[2019-04-07 21:14] jamgreen opened #154 "get_estimates() MSA geography not working"
I am writing a lab for a course looking to get the population estimates for metropolitan statistical areas, but both of the following calls error out:

``dc <- get_estimates(geography = "metropolitan statistical area/micropolitan statistical area", product = "population", time_series = TRUE)

dc <-  get_estimates(geography = "combined statistical area", product = "population", time_series = TRUE)

[2019-04-07 23:28] mfherman commented on #154
I'm not sure why MSAs and CBSAs are not available for 2017 through the API, but you could use 2016 data if that works for your lab. Perhaps @loganpowell or @walkerke know why they are not available for 2017?

https://api.census.gov/data/2016/pep/population/geography.html

[code]

<sup>Created on 2019-04-07 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-08 01:50] jamgreen commented on #154
AH! Okay...yeah, not sure why 2017 doesn't play nice, but I can use the 2016 data. Thank you so much. I reckon this should stay open until we get clarification on the 2017 issue, but this is good to know.

[2019-04-08 11:41] loganpowell commented on #154
I'm actually not sure why MSAs aren't in the 2017 pep. Can you send an email to cnmp.developers.list@census.gov to make the inquiry?

[2019-04-11 15:39] mjwebster opened #155 "incorrect data returning using get_decennial sf3 2000"
I'm trying to get a few variables from the P021 table in sf3 2000 for counties in Minnesota. It's returning data for all 87 counties, but the values don't match what I get when I pull up that table in American FactFinder. For example, Becker county should have close to 4,000 total residents, but the results are coming up with something like 1,100.

here's my code:

placebirth2000 <-  get_decennial

[2019-04-11 19:57] oooandrade opened #156 "Non-numeric error when using purrr at tract level"
When using `purrr` package's `map_df` feature, described in the DataCamp tutorials, it doesn't appear to work at the tract level unless a county is supplied to the argument. However, you don't need a county specified when running the function outside of the `map_df` wrapper. See code below.

This works:

[code]

This fails with the error below:
[code]

However, this works:
[code]

[2019-04-12 14:07] mfherman commented on #155
Hi @mjwebster. The issue here is that `get_decennial()` uses an argument called `sumfile` and not `dataset` to specify which summary file to use. So in your code above, the function doesn't see `sumfile` specified and defaults to using SF1, instead of SF3. So your code is actually pulling from [SF1 table P021](https://www.socialexplorer.com/data/C2000/metadata/?ds=SF1&table=P021).

See below outpu

[2019-04-12 14:16] mfherman commented on #156
Hi @oooandrade. This is known issue with how `get_acs()` internally handles getting tracts from multiple counties for multiple years. Take a look at #136  and #145 for more detailed discussion as well as some workarounds until this is fixed in `get_acs()`.

[2019-04-12 16:01] mjwebster commented on #155
Ahhh! Thank you! Does the same work for 1990 data? Because I used dataset to pull and got the right stuff.

[2019-04-16 23:28] przemo opened #157 "acs1 missing values"
Hi,
I am using the code that used to work before, but when I rerun it there are no estimates returned - everything is missing. Is it a problem with Census API or some updated feature I should use?

[code]

[code]

No errors are returned.

[2019-04-18 00:49] mfherman commented on #155
Hmm, you might want to double check that you got the data you were expecting. No matter the year, you should use the `sumfile` argument instead of `dataset`. See an example below from 1990 that pulls different data depending on if you use `dataset` instead of `sumfile`. To be clear, they are both "correct" data, it is just that when using the `dataset` argument, `get_decennial()` ignores it and ch

[2019-04-18 01:10] mfherman commented on #157
I'm not sure when this changed, but if you take a look at DP03 through American Fact Finder, you'll see estimates for DP03_0119 are not available.

![Screen Shot 2019-04-17 at 21 04 17](https://user-images.githubusercontent.com/24945757/56330044-67e94a00-6154-11e9-9ab5-60347ce34af4.png)

Similarly, if you try to access this variable via the API, you get all `-888888888`.

https://api.census.gov/da

[2019-04-18 13:32] mjwebster commented on #155
@mfherman Yes that turned out to be the problem. Using "sumfile" I got exactly what I expected to get. I think this issue can be closed, but I'm not sure if that's something I'm able to do?  Thanks everyone.

[2019-04-22 18:21] przemo commented on #157
Thanks for looking into this!
PJ

[2019-04-23 10:32] #157 closed

[2019-04-23 10:32] #155 closed

[2019-04-23 10:36] walkerke commented on #151
@arthurgailes just tested - this code now works again (tidycensus version 0.9.1).

[2019-04-23 10:36] #151 closed

[2019-04-23 10:38] walkerke commented on #116
@coreysparks I've just tested, and your code now works!

[code]

[2019-04-23 10:38] #116 closed

[2019-04-23 11:05] walkerke commented on #94
This is now fixed in tidycensus 0.9.2

[2019-04-23 11:05] #94 closed

[2019-04-23 11:05] walkerke commented on #156
This is now fixed in tidycensus master (0.9.2).

[2019-04-23 11:05] #156 closed

[2019-04-23 11:08] walkerke commented on #145
This issue is fixed in tidycensus master (0.9.2).

[2019-04-23 11:08] #145 closed

[2019-04-23 11:10] walkerke commented on #136
This should now work in tidycensus master (0.9.2).  You just may have to wait a while as you have to hit the API for each county in the United States...

[2019-04-23 11:10] #136 closed

[2019-04-23 13:46] walkerke commented on #111
I've improved this a bit with the latest version of tidycensus (e.g. with multi-county block group calls).  However for custom functions I'd recommend using `suppressMessages()` or @coreysparks's suggestion in RMarkdown.

[2019-04-23 13:46] #111 closed

[2019-04-23 14:11] coreysparks commented on #116
Thanks!

[2019-04-23 16:41] arthurgailes commented on #151
Thanks!

[2019-04-24 01:21] jonoyuan commented on #52
I've been getting this error as well, even on the latest version of R (3.5.1), the ACS 5-year published in 2010, 2011, 2012, 2013, and 2014.

[code]

[2019-04-24 19:56] mfherman commented on #52
Hi @jonoyuan, I just ran this code succesfully. It could be that Census API was experiencing problems or your internet connectivity was spotty when you tried to run it.

[code]

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-29 17:47] walkerke commented on #76
This is fixed temporarily as of https://github.com/walkerke/tidycensus/commit/dff3b656991c1078448a48c87e5540b47a6b5b10.  I still don't have capacity to put in 1990 names and convert them to FIPS codes.  However, if you have the 1990 FIPS codes, it will work.

[2019-04-29 17:47] #76 closed

[2019-04-29 17:50] walkerke commented on #83
Update, April 2019:

tidycensus 1.0 will be released this summer and I'll consider the API stable after that.  It will include:
- Geometry support for ALL available geographies in the API
- Migration flows support _with_ linked geometry so users can map migration flows quickly.

I'll then put tidycensus into maintenance mode and finish up the book, though I will still entertain pull requests for n

[2019-05-12 23:50] chrowe opened #160 "Intermittent "invalid or inactive API key" Error"
## Description
I can't find a pattern for when this happens. It seems to happen more when making multiple calls in a row, but can also happen when just one is made.
[code]
## Code
[code]

## Output

[code]

## Traceback

[code]

[2019-05-15 19:04] gerwathome opened #161 "get_acs county matching problem"
Modifying your example in the get_acs() documentation pulling median income for "Tarrant" county to "Harris" county causes an error.  Interestingly, changing the county to "Harris " works.  Perhaps there is a patterning matching issue, where calling for Harris without a trailing space returns both Harris and Harrison counties?

[2019-05-15 21:06] plnnr commented on #160
I removed `Encoding = "UTF-8"` and it worked.

[2019-05-15 23:10] abuabara commented on #161
this happens to me too, i usually have to put a space after harris, ou write the full name "harris county"

[2019-05-21 23:18] simplymathematics commented on #98
Reporting the same issue on Ubuntu 18.04 running R 3.6. Fixed by running
[code]

[2019-05-22 17:04] dkori opened #162 "get_acs returning NA values for 2017 language tables"
The following get_acs call returns only NA values for the estimate and margin of error for each county:

get_acs(geography="county",state="VA",year=2017, variables=c("Var"="B16001_001"))

However, the function properly retrieves the data for 2014:

get_acs(geography="county",state="VA",year=2014, variables=c("Var"="B16001_001")).

The underlying data for 2017 can be found here:
https://factfinder.

[2019-05-22 18:43] abuabara commented on #162
Hey,

Two problems.

1) the variables you just include the variables ... no need to "var"=

2) You need to declare the survey. Indeed ACS5 years has no estimates. But ACS1 year do have. And it is what your link shows.

Do the following, will work:

[code]

[2019-05-22 20:39] dkori commented on #162
Thanks for the response! I'm closing this issue because the code snippet you provided seems to deliver results that match the factfinder website, however it looks like language data for most counties is still missing. Any idea why that may be?

[2019-05-22 21:46] abuabara commented on #162
Glad about it.

What variable number are you using to fetch the language data? So far, all the ones I tried are working just fine. Honestly I just tried a couple of them.

[2019-05-23 13:26] dkori commented on #162
When I run the snippet you provided, I'm seeing missing values for most counties, even for B16001_001 which should just be the total population for the county (see picture below). I don't think it's a problem with tidycensus, because it looks like those values are also missing in the table on the factfinder website as well.
![image](https://user-images.githubusercontent.com/10734057/58256310-c8b00

[2019-05-23 13:26] #162 closed

[2019-05-23 14:34] abuabara commented on #162
Howdy. I live in Texas and I'm not familiar with these counties. Probably this is happening because the population/sample size of each place. Look here: https://www.census.gov/programs-surveys/acs/guidance/estimates.html

[2019-05-24 17:54] gpresto commented on #42
@mfherman I am interested the pmap approach here, but I'm unable to recreate your results with the code given.

[code]
Returns the error:
[code]
I assumed this might be a typo for fem_under10_v assigned at the beginning, but run into the character class error after changing it to a list and rerunning the code.

How did you handle this class definition error when running the variable list through p

[2019-05-24 18:29] mfherman commented on #42
@gpresto I think the code from above was only working with an old dev version of rlang and/or purrr. Here is an updated version that doesn't feel very elegant, but you could abstract `pmap_dbl(list(!!!parse_exprs(fem_under10_v)), sum)` into a custom rowwise sum function.

Let me know if this is working for you!

[code]

<sup>Created on 2019-05-24 by the [reprex package](https://reprex.tidyverse.or

[2019-05-24 18:35] mfherman commented on #162
If you don't need to look at the county level, you could use [PUMAs](https://www.census.gov/programs-surveys/geography/guidance/geo-areas/pumas.html) , which are areas that have at least 100,000 people. There is data available for this variable for all 56 PUMAs in Virginia in the 5-year ACS.

[code]

<sup>Created on 2019-05-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-05-24 18:55] gpresto commented on #42
@mfherman, thanks for the clarification! Works for me now!

[2019-05-29 20:19] arthurgailes commented on #151
I think this update broke the block group function call:
[code]

This now works at block and tract, but not block group.

[2019-05-29 20:48] abuabara commented on #151
looks like a census issue ... read here: https://stackoverflow.com/questions/54262394/error-when-using-get-decennial-to-get-2010-block-group-data-but-can-get-block

since you have block data, a work-around I would suggest to create the data at the BG level:

[code]

[2019-05-30 17:49] dkori commented on #162
@abuabara good thought, but many of those counties have populations well over 100,000 (Arlington county's is over 200,000 in 2017, for example), so I don't think that's it.

I think there must be something wrong with the underlying  data for the 2017 vintage. If you run the code snippet that you provided earlier, but pass the arguments (year=2014 and survey="acs5"), it returns values for every cou

[2019-05-30 19:43] thk686 opened #164 "Error in get_decenial"
This command:

county_area_water <- get_decennial("county", "AREAWATR", geometry = TRUE, state = 48)

generates:

Getting data from the 2010 decennial Census
Downloading feature geometry from the Census website.  To cache shapefiles for use in future sessions, set `options(tigris_use_cache = TRUE)`.
Error : Your API call has errors.  The API message returned is <html><head><title>Error report</tit

[2019-05-30 20:35] walkerke commented on #164
I don't have tidycensus set up to retrieve water area (or related variables like that) - just the demographic statistics.  I'd recommend {tigris} instead for this information:

[code]

If you want to go directly through the Census API, you can construct such a query using the {censusapi} package.

[2019-05-30 20:35] #164 closed

[2019-06-05 17:33] evansklodge commented on #122
This code:

acs5 <- load_variables(year = 2009, "acs5", cache = TRUE)

returns the same error discussed above:

Error: lexical error: invalid char in json text.
                                       <html><head><title>Error report
                     (right here) ------^

Any thoughts?

[2019-06-05 18:22] abuabara commented on #122
Your problem is the year. ACS 5y started just in 2013, as you can see here: https://www.census.gov/programs-surveys/acs/guidance/estimates.html

[2019-06-05 18:31] evansklodge commented on #122
I'm pretty sure that's not correct. The ACS definitely has 5-year data for 2005-2009. Here's an example dataset from FactFinder:

https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?src=bkmk

[2019-06-05 18:37] abuabara commented on #122
Sorry. Your link doesn't open here. You are right, I don't know. To me any year after 2010 works.

[2019-06-05 18:48] mfherman commented on #122
Just submitted PR #166 that should fix this bug. @walkerke fixed the API endpoint for 2009 for getting data in #122, but this fixes it in  `load_variables()` too.

@evansklodge when this PR is merged, can you test to make sure it is working on your end for 2009.

[2019-06-05 18:50] mfherman commented on #161
@gerwathome  If you download the latest github version of the package, you should now see better error handling on multiple county matches.

[2019-06-06 12:07] jamesrrae opened #167 "Trouble accessing other Census Bureau datasets"
I ran into an issue when trying to follow the steps for accessing other Census Bureau datasets. Below is some code that I took from here (https://walkerke.github.io/tidycensus/articles/other-datasets.html):

[code]
Although I have my api key loaded, I get the following error message:

[code]
This seems like a solution is in the works, but in the meantime, is there another way I can access the othe

[2019-06-07 16:15] mfherman commented on #167
This part of the error message: `There was an error while running your query.  We've logged the error and we'll correct it ASAP.  Sorry for the inconvenience.` is the response from the Census API. I see that error intermittently and usually rerunning the call a little later fixes the problem.

I was just able to run the following code without a problem:

[code]

<sup>Created on 2019-06-07 by the [

[2019-06-12 10:13] #167 closed

[2019-06-12 10:14] #161 closed

[2019-06-12 20:39] RealCoChenchao opened #168 "get_acs does not accept state parameter with a list of length over two at the `county subdivision` level?"

[2019-06-15 10:54] walkerke commented on #168
Assuming you did something like:

[code]

You should get back the error ` Error: Your API call has errors.  The API message returned is error: CSV not allowed for ``state'' in geography heirarchy [sic].`

This means that county subdivision data are only available by state via the API.  We can get around this, however, with purrr:

[code]

[2019-06-15 10:54] #168 closed

[2019-06-15 10:58] walkerke commented on #160
I have never seen this error before.  Are you still experiencing it?  Also - are you making large and frequent calls to the API?

[2019-06-16 17:36] RealCoChenchao commented on #168
Thank you for your decent example!

[2019-06-19 12:39] CVIOG-Demography opened #169 "get_estimates for components not pulling recent years."
get_estimates for components not pulling recent years. I contacted the Census Bureau and said it would be something in the package needing updating.

get_estimates(geography = "state",
                               state = "Georgia",
                               product = "components",
                               time_series = TRUE,
                               geometry = TRUE,

[2019-06-19 15:54] mfherman commented on #169
For 2017, the PERIOD would only go up to 8 (July 1, 2016 to June 30, 2017). But, for other products that are reported by DATE instead of by Period, they go up to 10 (July 1, 2017 population or housing unit estimate). See the detailed period and date ranges here: https://www.census.gov/data/developers/data-sets/popest-popproj/popest/popest-vars/2017.html

For example, if you pull the `housing` prod

[2019-06-20 15:48] sonoshah opened #170 "time_series =T error with 2018 population characteristics estimates"
When setting `time_series = T` and setting `year = 2018` characteristics estimates, I get an error. Removing the `time_series` option allows me to pull down the data, but without the Date column which estimate is which.

Looking at the documentation for the 2018 vintage estimates, I think the issue is with the variable label for DATE being change from `DATE` to `DATE_CODE`?  See link [here](https:

[2019-06-20 15:56] walkerke commented on #170
Thank you for filing!  I think you are correct that they changed the date name for 2018.  This will be a quick fix.

[2019-06-20 16:07] #170 closed

[2019-06-20 16:08] walkerke commented on #169
@mfherman is correct.  As a notable aside - by setting `year` to 2018 you can get the most recent data now as I just pushed a fix due to a change in the API.

[2019-06-20 16:08] #169 closed

[2019-06-20 16:12] walkerke commented on #154
@jamgreen so I just tried this for 2018:

[code]

And I get:

[code]

2017 still does not work, so we'll have to ping Census again about that.

[2019-06-28 12:38] NikKrieger opened #171 "Problem with multi-state block group calls to get_acs()"
In tidycensus 0.9.2, multistate calls to get_acs() at the tract and block group levels result in an error that really seems like a bug.

[code]

[2019-07-08 21:35] javagithu opened #172 "Running into issues with get_acs on multiple county multiple variable datapull"
Having trouble executing this call. Have pasted in the entire output below but it dies out after running a few counties with the following error
**_Error: Your API call has errors.  The API message returned is There was an error while running your query.  We've logged the error and we'll correct it ASAP.  Sorry for the inconvenience.._**

atl_vars is a vector of 24 variable names atl_counties is a

[2019-07-08 21:41] #172 closed

[2019-07-09 17:03] walkerke commented on #171
I'm not getting the error for tracts but I do see it for block groups; I'll take a look as I agree it's a bug.

[2019-07-09 22:05] gpresto commented on #145
This may be related back to how the Census API handles the request, but I am again having issues with iterating across tracts/states for end-years prior to 2015.
[code]

While the workaround works, per se, it's indeed very slow.

I tried tinkering around with the arguments and inputs and everything end-year 2015 onward seems to work fine while 2014 and prior the same error: "object .x not found"

[2019-07-10 00:05] mfherman commented on #145
Hey @gpresto, I just tested your code and it's working for me for both 2017 and 2012. I'm using the latest CRAN version of tidycensus, 0.9.2. Can you make sure you're running the most recent version of the package?

[2019-07-10 14:41] gpresto commented on #145
Without any package updating it seems to be working now, although quite slowly. Difficult to tell when the issue is an API bug or syntax error on my end. The error "object '.x' not found" had me worried it was my own error.
Slowness could be that I'm iterating over all tracts, all states, and 40 or so variables.
Thanks!

[2019-07-10 17:14] evansklodge commented on #122
Forgot to reply to this earlier, but yes! Works perfectly now. Thank you very much.

[2019-07-11 04:04] evansklodge opened #173 "ACS 5-year block group for 2010"
When trying to access ACS 5-year data for 2010 (or, based on some random attempts, 2011 and 2012), I receive the following error:

acs <- get_acs(geography = "block group", state = "NC", county = 63, year = 2010, survey = "acs5", variables = "B01003_001", moe_level = 95, geometry = TRUE)

Error: Your API call has errors.  The API message returned is error: unknown/unsupported geography heirarchy.

[2019-07-11 14:21] NikKrieger commented on #173
I concur that this currently isn't working. I think it's the Census. Not much @walkerke can do.

[2019-07-11 14:52] NikKrieger opened #174 "Wrap get_acs()'s and get_decennial()'s recursive calls in purrr::insistently()?"
Have you considered wrapping `get_acs()`'s and `get_decennial()`'s recursive calls (which occur, for example, when setting `geography = "block group"` and `county = NULL`) in `purrr::insistently()`?

For example, if a user wants block-group-level data for all of Texas, these functions recursively call themselves on each of the >200 Texas counties using `purrr::map()`, but if even one of these coun

[2019-07-11 22:49] UNFPAmaldives opened #175 "block group fails"
Attempting to fetch data at the block group-level
[code]
fails with the error message:
[code]

I get the same error if I change the year to 2016, or set `geometry = false`,  or eliminate the `output = wide` line. I just can't access block group-level data or geometries.

[2019-07-11 23:37] Luna0129 opened #176 "Error in curl::curl_fetch_memory(url, handle = handle) : details"
Hi I'm having trouble running functions in tidycensus package. I'm following this tutorial https://walkerke.github.io/tidycensus/articles/basic-usage.html

Whichever function I ran, I got this error message:
`Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached: Resolving timed out after 10000 milliseconds`

Do you know what is the problem? The api key is loaded and activ

[2019-07-14 03:14] emorrow3 opened #177 "Request: Census designated place by county?"
Any chance we could get the ability to query places(cities/towns) by County?

Or any thoughts for a work around...for example: only the towns in Taliaferro County, GA, as opposed to all in the state of GA?

I'm somewhat new to this, so my apologies if it's a silly question.

Thanks!

[2019-07-14 15:45] frankhecker commented on #173
This definitely appears to be a Census problem. I ran into something similar trying to get 2010 decennial census data at the block group level for my county. In looking into this, I discovered that using the following curl command (plus key parameter, of course) to retrieve block group data gets the error indicated (unknown/unsupported geography):

curl 'https://api.census.gov/data/2010/dec/sf1?ge

[2019-07-14 20:49] walkerke commented on #174
Great idea!

[2019-07-16 22:03] amtineh opened #178 "get_estimates"
Hi there,

I am having difficulty accessing the population estimates using get_estimates with tidycensus. I am also having trouble accessing 2018 data. For example, running this code gets me an error:

get_estimates(geography="county", product="population", time_series = TRUE, year =2018)

_Error: Your API call has errors. The API message has returned an error: unknown variable 'Date'._

[2019-07-16 22:23] mfherman commented on #178
2018 ACS data has not yet been released. Check here for the release schedule:

https://www.census.gov/programs-surveys/acs/news/data-releases/2018/release-schedule.html

[2019-07-16 22:29] amtineh commented on #178
I'm using get_estimated to access Population and Housing Unit Estimates (PEP) which has already released 2018 estimates.

Are we also unable to access 2018 PEP estimates despite the Census having released them?

[2019-07-16 23:00] mfherman commented on #178
Oh, my apologies @amtineh, I didn't read close enough and just assumed you were trying to get ACS data!

If you upgrade to the latest version of `tidycensus` it should work for you. See below for a successful call to get time series data when `year = 2018`.

[code]

<sup>Created on 2019-07-16 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-07-17 00:11] dmellish opened #179 "More info on ZCTA"
Hi, I was wondering how you know which ZCTA's to use? I'm not sure if we would just use the ZIPs for the level of data we want? To clarify, suppose I want to find the population for a city with multiple zip codes, how do I know which ZCTA's to use?